openapi: 3.2.0
info:
  title: Graphiant Extranets Monitoring API
  version: 1.0.0
  description: Graphiant API documentation.
servers:
- url: https://api.graphiant.com
security:
- jwtAuth: []
tags:
- name: Extranets Monitoring
paths:
  /v2/extranets-monitoring/consumers:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2ExtranetsMonitoringConsumersPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2ExtranetsMonitoringConsumersPostResponse'
      description: Get consumer list for b2b producer service
      tags:
      - Extranets Monitoring
  /v1/extranets-monitoring/lan-segments:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: query
        description: Extranet Service Id
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 800
      - name: isProvider
        in: query
        description: ''
        required: false
        schema:
          type: boolean
          example: true
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ExtranetsMonitoringLanSegmentsGetResponse'
      tags:
      - Extranets Monitoring
  /v1/extranets-monitoring/nat-usage:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: query
        description: Extranet Service Id
        required: true
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 800
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ExtranetsMonitoringNatUsageGetResponse'
      tags:
      - Extranets Monitoring
  /v1/extranets-monitoring/traffic-security-policy:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ExtranetsMonitoringTrafficSecurityPolicyPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ExtranetsMonitoringTrafficSecurityPolicyPostResponse'
      description: Get lists of traffic and security policies
      tags:
      - Extranets Monitoring
components:
  schemas:
    manaV2SiteDeviceStub:
      type: object
      properties:
        hostname:
          type: string
          example: example string
        id:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    v1ExtranetsMonitoringTrafficSecurityPolicyPostRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        isProvider:
          type: boolean
          example: true
      additionalProperties: false
    manaV2SecurityPolicyRule:
      type: object
      properties:
        action:
          type: string
          example: ENUM_VALUE
        implicit:
          type: boolean
          example: true
        match:
          $ref: '#/components/schemas/manaV2PolicyMatch'
        policyRuleIndex:
          type: integer
          format: int64
          example: 1234567891011
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2TrafficPolicyAction:
      type: object
      properties:
        backup:
          type: string
          example: ENUM_VALUE
          description: Backup circuit for the traffic policy action
        class:
          type: string
          example: ENUM_VALUE
          description: Class for the traffic policy action
        primary:
          type: string
          example: ENUM_VALUE
          description: Primary circuit for the traffic policy action
        result:
          type: string
          example: ENUM_VALUE
          description: Result for the traffic policy action
      additionalProperties: false
    manaV2SecurityPolicyRuleRow:
      type: object
      properties:
        device:
          $ref: '#/components/schemas/manaV2SiteDeviceStub'
        securityPolicyRule:
          $ref: '#/components/schemas/manaV2SecurityPolicyRule'
        vrfName:
          type: string
          example: example string
      additionalProperties: false
    v2ExtranetsMonitoringConsumersPostResponse:
      type: object
      properties:
        consumers:
          type: array
          items:
            $ref: '#/components/schemas/manaV2Consumer'
      additionalProperties: false
    v1ExtranetsMonitoringNatUsageGetResponse:
      type: object
      properties:
        allocatedCount:
          type: integer
          format: int32
          example: 123
          minimum: 0
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/v1ExtranetsMonitoringNatUsageGetResponseAllocation'
        usageCount:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    v2ExtranetsMonitoringConsumersPostRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    v1ExtranetsMonitoringNatUsageGetResponseAllocation:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 1234567891011
        hostname:
          type: string
          example: example string
        ipAddress:
          type: string
          example: example string
        siteId:
          type: integer
          format: int64
          example: 1234567891011
        siteName:
          type: string
          example: example string
      additionalProperties: false
    v1ExtranetsMonitoringLanSegmentsGetResponseVrf:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2Consumer:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        vrfs:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
      additionalProperties: false
    v1ExtranetsMonitoringLanSegmentsGetResponse:
      type: object
      properties:
        vrfs:
          type: array
          items:
            $ref: '#/components/schemas/v1ExtranetsMonitoringLanSegmentsGetResponseVrf'
      additionalProperties: false
    manaV2TrafficPolicyRule:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/manaV2TrafficPolicyAction'
        match:
          $ref: '#/components/schemas/manaV2PolicyMatch'
        policyRuleIndex:
          type: integer
          format: int64
          example: 1234567891011
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    v1ExtranetsMonitoringTrafficSecurityPolicyPostResponse:
      type: object
      properties:
        securityRules:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SecurityPolicyRuleRow'
        trafficRules:
          type: array
          items:
            $ref: '#/components/schemas/manaV2TrafficPolicyRuleRow'
      additionalProperties: false
    manaV2PolicyMatch:
      type: object
      properties:
        destinationPort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        destinationPrefix:
          type: string
          example: example string
        icmpType:
          type: integer
          format: int32
          example: 123
          minimum: 0
        protocol:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sourcePort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sourcePrefix:
          type: string
          example: example string
      additionalProperties: false
    manaV2TrafficPolicyRuleRow:
      type: object
      properties:
        device:
          $ref: '#/components/schemas/manaV2SiteDeviceStub'
        trafficPolicyRule:
          $ref: '#/components/schemas/manaV2TrafficPolicyRule'
        vrfName:
          type: string
          example: example string
      additionalProperties: false
  securitySchemes:
    jwtAuth:
      type: apiKey
      in: header
      name: authorization
      description: Use `Bearer <token>`
