openapi: 3.2.0
info:
  title: Graphiant Zones API
  version: 1.0.0
  description: Graphiant API documentation.
servers:
- url: https://api.graphiant.com
security:
- jwtAuth: []
tags:
- name: Zones
paths:
  /v1/zones:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ZonesGetResponse'
      description: Get Zones for the current enterprise
      tags:
      - Zones
components:
  schemas:
    manaV2Zone:
      type: object
      properties:
        enterpriseId:
          type: integer
          format: int64
          example: 1234567891011
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
      additionalProperties: false
    v1ZonesGetResponse:
      type: object
      properties:
        pageInfo:
          $ref: '#/components/schemas/commonPageInfo'
        zones:
          type: array
          items:
            $ref: '#/components/schemas/manaV2Zone'
      additionalProperties: false
    commonPageInfo:
      type: object
      properties:
        currentPage:
          type: integer
          format: int32
          example: 1
          minimum: 0
          description: The page number we are currently on (required)
        endCursor:
          type: string
          example: xxxxxxy
          description: Cursor pointing to the last record on the current page
        hasNextPage:
          type: boolean
          example: true
          description: An indicator whether there is a page after this one in the resultset based on current position
        hasPrevPage:
          type: boolean
          example: true
          description: An indicator whether there is a page before this one in the resultset based on current position
        startCursor:
          type: string
          example: xxxxxx
          description: Cursor pointing to the first record on the current page
        totalPages:
          type: integer
          format: int32
          example: 4
          minimum: 0
          description: The number of pages in the complete resultset based on the current length of the page (required)
        totalRecords:
          type: integer
          format: int32
          example: 400
          minimum: 0
          description: Describes the total number of records in the complete resultset (required)
      additionalProperties: false
  securitySchemes:
    jwtAuth:
      type: apiKey
      in: header
      name: authorization
      description: Use `Bearer <token>`
