openapi: 3.2.0
info:
  title: Graphiant Version API
  version: 1.0.0
  description: Graphiant API documentation.
servers:
- url: https://api.graphiant.com
security:
- jwtAuth: []
tags:
- name: Version
paths:
  /v1/version:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1VersionPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1VersionPostResponse'
      description: Update device config version
      tags:
      - Version
components:
  schemas:
    manaV2ConfigurationMetadata:
      type: object
      properties:
        commitConfirm:
          type: boolean
          example: true
        description:
          type: string
          example: example string
        name:
          type: string
          example: example string
      additionalProperties: false
    v1VersionPostRequest:
      type: object
      properties:
        configurationMetadata:
          $ref: '#/components/schemas/manaV2ConfigurationMetadata'
        deviceId:
          type: integer
          format: int64
          example: 1234567891011
        version:
          type: integer
          format: int32
          example: 123
      additionalProperties: false
    v1VersionPostResponse:
      type: object
      properties:
        updatedVersion:
          $ref: '#/components/schemas/manaV2VersionMetadata'
      additionalProperties: false
    manaV2VersionMetadata:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        version:
          type: integer
          format: int32
          example: 123
      additionalProperties: false
  securitySchemes:
    jwtAuth:
      type: apiKey
      in: header
      name: authorization
      description: Use `Bearer <token>`
