openapi: 3.2.0
info:
  title: Graphiant Devices API
  version: 1.0.0
  description: Graphiant API documentation.
servers:
- url: https://api.graphiant.com
security:
- jwtAuth: []
tags:
- name: Devices
paths:
  /v1/devices/{deviceId}/jobs/{jobId}:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: jobId
        in: path
        required: true
        description: id of the job as received from the Enqueue* calls.
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 1234
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdJobsJobIdGetResponse'
      description: Get device job status
      tags:
      - Devices
  /v1/devices/{deviceId}/draft:
    delete:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '204':
          description: No Content
      description: Delete draft configuration
      tags:
      - Devices
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdDraftGetResponse'
      description: Get draft configuration
      tags:
      - Devices
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesDeviceIdDraftPostRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdDraftPostResponse'
      description: Save draft configuration
      tags:
      - Devices
  /v1/devices/session-status:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesSessionStatusPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesSessionStatusPostResponse'
      description: Get all the BGP session states for the devices
      tags:
      - Devices
  /v1/devices/{deviceId}/candidate-circuits:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdCandidateCircuitsGetResponse'
      description: Get the candidate circuits for a device
      tags:
      - Devices
  /v1/devices/{deviceId}/vrf/protocols:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: vrfName
        in: query
        description: Valid Configured Vrf Name
        required: true
        schema:
          type: string
          example: example string
        example: lan-1-business
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdVrfProtocolsGetResponse'
      tags:
      - Devices
  /v1/devices/{deviceId}/connectivity:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdConnectivityGetResponse'
      description: Get the connectivity graph for a device
      tags:
      - Devices
  /v1/devices/{deviceId}/twamp/core:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdTwampCoreGetResponse'
      description: Get core TWAMP neighbors for a given device
      tags:
      - Devices
  /v1/devices/{deviceId}/dhcp-server/leases:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdDhcpServerLeasesGetResponse'
      description: Get current DHCP leases for a device
      tags:
      - Devices
  /v1/devices/{deviceId}/policy/applications:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdPolicyApplicationsGetResponse'
      description: Get a list of builtin DPI applications able to be configured on a given device based on GNOS version
      tags:
      - Devices
  /v1/devices/{deviceId}:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdGetResponse'
      description: Get a specific device
      tags:
      - Devices
  /v1/devices/{deviceId}/versions/{version}:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: 16 bytes (base64 encoded) identifier for the device.
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 3000000000
      - name: version
        in: path
        required: true
        description: 8 bytes (base32 encoded) version number.
        schema:
          type: integer
          format: int32
          example: 123
          minimum: 0
        example: 150
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdVersionsVersionGetResponse'
      description: Get device config for a specific version
      tags:
      - Devices
  /v1/devices/{deviceId}/versions:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: 16 bytes (base64 encoded) identifier for the device.
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 3000000000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdVersionsGetResponse'
      description: Get device config versions
      tags:
      - Devices
  /v1/devices:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesGetResponse'
      description: Get devices for the current enterprise
      tags:
      - Devices
  /v1/devices/{deviceId}/policy/zonepairs:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdPolicyZonepairsGetResponse'
      description: Get a list of firewall zone pairs each with holding nested policy rule sets
      tags:
      - Devices
  /v1/devices/{deviceId}/interfaces:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdInterfacesGetResponse'
      description: Get interfaces for the given device
      tags:
      - Devices
  /v1/devices/{deviceId}/ospfv2/defaultOriginate:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdOspfv2DefaultOriginateGetResponse'
      tags:
      - Devices
  /v1/devices/{deviceId}/ospfv3/defaultOriginate:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdOspfv3DefaultOriginateGetResponse'
      tags:
      - Devices
  /v1/devices/{deviceId}/slice/peers:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdSlicePeersGetResponse'
      tags:
      - Devices
  /v1/devices/{deviceId}/circuits/vrf-associations:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: circuitNames
        in: query
        description: Circuit name configured of wan interface
        required: false
        schema:
          type: array
          items:
            type: string
            example: isp
          example:
          - isp
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdCircuitsVrfAssociationsGetResponse'
      description: Get the VRF, interface, &, if relevant, loopback interfaces for a list of circuits
      tags:
      - Devices
  /v1/devices/{deviceId}/controller-peers:
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesDeviceIdControllerPeersPutRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdControllerPeersPutResponse'
      description: Update peer list for controller
      tags:
      - Devices
  /v1/devices/{deviceId}/config:
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesDeviceIdConfigPutRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdConfigPutResponse'
      description: Update a device
      tags:
      - Devices
  /v1/devices/oauth:
    post:
      description: Process OAuth client credentials for device onboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesOauthPostRequest'
      responses:
        '200':
          description: OAuth token generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesOauthPostResponse'
        '400':
          description: Bad request - Invalid input
        '500':
          description: Internal server error
      tags:
      - Devices
    get:
      description: Redirect to OAuth authorization page for device onboarding
      parameters:
      - in: query
        name: scope
        required: true
        schema:
          type: string
          example: type=zt-cpe uuid=device-uuid-123 hostname=device.example.com
        description: OAuth scope containing device type, UUID, and hostname
      - in: query
        name: state
        schema:
          type: string
          example: state-12345
        description: OAuth state parameter
      - in: query
        name: code_challenge
        schema:
          type: string
          example: code-challenge-12345
        description: PKCE code challenge
      - in: query
        name: code_challenge_method
        schema:
          type: string
          example: S256
        description: PKCE code challenge method
      - in: query
        name: pt
        schema:
          type: string
          example: hardware
        description: Platform type
      - in: query
        name: bm
        schema:
          type: string
          example: p
        description: Boot mode
      responses:
        '302':
          description: Redirect to OAuth authorization page
        '400':
          description: Bad request - Invalid parameters
        '500':
          description: Internal server error
      tags:
      - Devices
  /v1/devices/oauth/authorization:
    get:
      description: Process OAuth authorization for device onboarding
      security:
      - jwtAuth: []
      parameters:
      - in: query
        name: relayState
        required: true
        schema:
          type: string
          example: eyJzY29wZSI6InR5cGU9enQtY3BlIHV1aWQ9ZGV2aWNlLXV1aWQtMTIzIGhvc3RuYW1lPWRldmljZS5leGFtcGxlLmNvbSIsInN0YXRlIjoic3RhdGUtMTIzNDUiLCJjb2RlX2NoYWxsZW5nZSI6ImNvZGUtY2hhbGxlbmdlLTEyMzQ1IiwiY29kZV9jaGFsbGVuZ2VfbWV0aG9kIjoiUzI1NiIsInB0IjoiaGFyZHdhcmUiLCJibSI6InAifQ==
        description: Base64 encoded relay state containing OAuth parameters
      responses:
        '200':
          description: Authorization code generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesOauthAuthorizationGetResponse'
        '400':
          description: Bad request - Invalid relay state or parameters
        '401':
          description: Unauthorized - Invalid or missing token
        '500':
          description: Internal server error
      tags:
      - Devices
  /v1/devices/inventory/approve-return:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesInventoryApproveReturnPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesInventoryApproveReturnPostResponse'
      tags:
      - Devices
  /v1/devices/inventory/enterprise:
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesInventoryEnterprisePutRequest'
      responses:
        '204':
          description: No Content
      tags:
      - Devices
  /v1/devices/clear-new-flag:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesClearNewFlagPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesClearNewFlagPostResponse'
      tags:
      - Devices
  /v1/devices/inventory/clear-new-flag:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesInventoryClearNewFlagPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesInventoryClearNewFlagPostResponse'
      tags:
      - Devices
  /v1/devices/inventory/clear-return:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesInventoryClearReturnPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesInventoryClearReturnPostResponse'
      tags:
      - Devices
  /v1/devices/bringup/token:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesBringupTokenPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesBringupTokenPostResponse'
      description: VM edge onboarding token
      tags:
      - Devices
  /v1/devices/inventory:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: notAssigned
        in: query
        description: ''
        required: false
        schema:
          type: boolean
          example: true
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesInventoryGetResponse'
      tags:
      - Devices
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesInventoryPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesInventoryPostResponse'
      tags:
      - Devices
  /v1/devices/bringup:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesBringupPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesBringupPostResponse'
      tags:
      - Devices
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesBringupPutRequest'
      responses:
        '204':
          description: No Content
      tags:
      - Devices
  /v1/devices/rma:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesRmaPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesRmaPostResponse'
      tags:
      - Devices
  /v1/devices/inventory/serial-num:
    delete:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceSerials
        in: query
        description: ''
        required: false
        schema:
          type: array
          items:
            type: string
            example: example string
          example:
          - example
        style: form
        explode: true
      responses:
        '204':
          description: No Content
      tags:
      - Devices
  /v1/devices/inventory/request-return:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesInventoryRequestReturnPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesInventoryRequestReturnPostResponse'
      tags:
      - Devices
  /v1/devices/{deviceId}/arp:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdArpGetResponse'
      description: Get ARP monitoring table for a device
      tags:
      - Devices
  /v1/devices/routing/vrf/protocol-route-count:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: query
        description: Valid configured device ID > 0
        required: true
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 1000000
      - name: protocols
        in: query
        description: List of protocols names for which route count is needed
        required: true
        schema:
          type: array
          items:
            type: string
            example: '[OSPF,BGP,connected]'
          example:
          - '[OSPF,BGP,connected]'
        style: form
        explode: true
      - name: vrfName
        in: query
        description: Valid configured VRF names
        required: true
        schema:
          type: string
          example: example string
        example: management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesRoutingVrfProtocolRouteCountGetResponse'
      description: Get per VRF per protocol route count
      tags:
      - Devices
  /v1/devices/{deviceId}/vrrp:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: groupId
        in: query
        description: VRRP configured group id
        required: false
        schema:
          type: integer
          format: int32
          example: 123
          minimum: 0
        example: 1000000
      - name: interfaceName
        in: query
        description: interface name
        required: false
        schema:
          type: string
          example: example string
        example: GigabitEthernet0/2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesDeviceIdVrrpGetResponse'
      description: Get VRRP monitoring table for a device
      tags:
      - Devices
  /v1/devices/upgrade/cancel:
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesUpgradeCancelPutRequest'
      responses:
        '204':
          description: No Content
      tags:
      - Devices
  /v1/devices/running/version:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesRunningVersionPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesRunningVersionPostResponse'
      tags:
      - Devices
  /v1/devices/upgrade/schedule:
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DevicesUpgradeSchedulePutRequest'
      responses:
        '204':
          description: No Content
      tags:
      - Devices
components:
  schemas:
    manaV2NullableNtpConfig:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/manaV2NtpConfig'
      additionalProperties: false
    manaV2BfdInstanceConfig:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        localMultiplier:
          type: integer
          format: int32
          example: 123
          minimum: 0
        minimumInterval:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2CircuitConfig:
      type: object
      properties:
        bgpAggregations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableBgpAggregationsConfig'
        bgpMultipath:
          $ref: '#/components/schemas/manaV2NullableBgpMultipathConfig'
        bgpNeighbors:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableBgpNeighborConfig'
        bgpRedistribution:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableBgpRedistributeProtocolConfig'
        carrier:
          type: string
          example: ENUM_VALUE
        circuitType:
          type: string
          example: ENUM_VALUE
        connectionType:
          type: string
          example: ENUM_VALUE
        description:
          type: string
          example: example string
        diaEnabled:
          type: boolean
          example: true
        dropMechanism:
          type: string
          example: ENUM_VALUE
        label:
          type: string
          example: ENUM_VALUE
        lastResort:
          type: boolean
          example: true
        linkDownSpeedMbps:
          type: integer
          format: int32
          example: 123
          minimum: 0
        linkUpSpeedMbps:
          type: integer
          format: int32
          example: 123
          minimum: 0
        loopback:
          type: boolean
          example: true
        name:
          type: string
          example: example string
        patAddresses:
          $ref: '#/components/schemas/manaV2NullableIpList'
        qosProfile:
          type: string
          example: ENUM_VALUE
        qosProfileType:
          type: string
          example: ENUM_VALUE
        staticRoutes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableStaticRouteConfig'
      additionalProperties: false
    commonPageInfo:
      type: object
      properties:
        currentPage:
          type: integer
          format: int32
          example: 1
          minimum: 0
          description: The page number we are currently on (required)
        endCursor:
          type: string
          example: xxxxxxy
          description: Cursor pointing to the last record on the current page
        hasNextPage:
          type: boolean
          example: true
          description: An indicator whether there is a page after this one in the resultset based on current position
        hasPrevPage:
          type: boolean
          example: true
          description: An indicator whether there is a page before this one in the resultset based on current position
        startCursor:
          type: string
          example: xxxxxx
          description: Cursor pointing to the first record on the current page
        totalPages:
          type: integer
          format: int32
          example: 4
          minimum: 0
          description: The number of pages in the complete resultset based on the current length of the page (required)
        totalRecords:
          type: integer
          format: int32
          example: 400
          minimum: 0
          description: Describes the total number of records in the complete resultset (required)
      additionalProperties: false
    manaV2NullableIpProtocol:
      type: object
      properties:
        ipProtocol:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2TrafficPolicyRuleset:
      type: object
      properties:
        description:
          type: string
          example: example string
        errorMessage:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        id:
          type: integer
          format: int64
          example: 1234567891011
        index:
          type: integer
          format: int32
          example: 123
          minimum: 0
        name:
          type: string
          example: example string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/manaV2TrafficPolicyRulesetRule'
        status:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2RouteTag:
      type: object
      properties:
        levelOne:
          type: string
          example: example string
        levelTwo:
          type: string
          example: example string
        levelZero:
          type: string
          example: example string
      additionalProperties: false
    manaV2PrefixSetConfigNullableEntry:
      type: object
      properties:
        entry:
          $ref: '#/components/schemas/manaV2PrefixSetConfigNullableEntryEntry'
      additionalProperties: false
    manaV2NullableContentFilterMatchConfig:
      type: object
      properties:
        match:
          $ref: '#/components/schemas/manaV2ContentFilterMatchConfig'
      additionalProperties: false
    manaV2NullableMaCsecReplayProtectionWindowSize:
      type: object
      properties:
        replayProtectionWindowSize:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2NullableLagInterfaceConfig:
      type: object
      properties:
        interface:
          $ref: '#/components/schemas/manaV2LagInterfaceConfig'
      additionalProperties: false
    v1DevicesDeviceIdPolicyApplicationsGetResponse:
      type: object
      properties:
        applications:
          type: array
          items:
            $ref: '#/components/schemas/v1DevicesDeviceIdPolicyApplicationsGetResponseApplication'
        pageInfo:
          $ref: '#/components/schemas/commonPageInfo'
      additionalProperties: false
    manaV2NullablePrometheusRuleConfig:
      type: object
      properties:
        ruleGroup:
          $ref: '#/components/schemas/manaV2PrometheusRuleConfig'
      additionalProperties: false
    manaV2BgpNeighborAddressFamilyConfig:
      type: object
      properties:
        addressFamily:
          type: string
          example: ENUM_VALUE
        inboundPolicy:
          $ref: '#/components/schemas/manaV2NullablePolicyName'
        outboundPolicy:
          $ref: '#/components/schemas/manaV2NullablePolicyName'
      additionalProperties: false
    manaV2SnmpVacmGroupMemberConfig:
      type: object
      properties:
        community:
          type: string
          example: example string
        securityModel:
          type: string
          example: ENUM_VALUE
        securityName:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2NullableIpList:
      type: object
      properties:
        addresses:
          type: array
          items:
            type: string
            example: example string
      additionalProperties: false
    manaV2NullableInterfaceCoreConfig:
      type: object
      properties:
        interface:
          $ref: '#/components/schemas/manaV2InterfaceCoreConfig'
      additionalProperties: false
    routingArpEntry:
      type: object
      properties:
        interfaceName:
          type: string
          example: example string
        ipv4Address:
          type: string
          example: example string
        macAddress:
          type: string
          example: example string
        name:
          type: string
          example: example string
          description: Circuit or VRF name
      additionalProperties: false
    v1DevicesRoutingVrfProtocolRouteCountGetResponseProtocolCount:
      type: object
      properties:
        protocol:
          type: string
          example: OSPF
          description: Configured protocol (required)
        routeCount:
          $ref: '#/components/schemas/routingAfiRouteCount'
      additionalProperties: false
    v1DevicesInventoryPostResponseData:
      type: object
      properties:
        deviceSerial:
          type: string
          example: example string
        uuid:
          type: string
          example: example string
      additionalProperties: false
    manaV2NATPolicyRulesetConfigNullableRule:
      type: object
      properties:
        rule:
          $ref: '#/components/schemas/manaV2NATPolicyRulesetConfigNullableRuleRule'
      additionalProperties: false
    manaV2CircuitInterface:
      type: object
      properties:
        adminStatus:
          type: boolean
          example: true
        id:
          type: integer
          format: int64
          example: 1234567891011
        index:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        operStatus:
          type: boolean
          example: true
      additionalProperties: false
    configWorkerJobStatus:
      type: object
      properties:
        completedAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        createdAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        error:
          type: string
          example: example string
        errorCount:
          type: integer
          format: int32
          example: 123
        jobId:
          type: integer
          format: int64
          example: 1234567891011
        jobState:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2SecurityZoneConfig:
      type: object
      properties:
        inside:
          type: string
          example: example string
        pairs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSecurityZonePairConfig'
      additionalProperties: false
    manaV2NullableDomainListMatchConfig:
      type: object
      properties:
        match:
          $ref: '#/components/schemas/manaV2DomainListMatchConfig'
      additionalProperties: false
    manaV2CommunityContainer:
      type: object
      properties:
        community:
          type: array
          items:
            type: string
            example: example string
      additionalProperties: false
    manaV2SnmpVacmViewIncludeConfig:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
      additionalProperties: false
    manaV2LacpConfig:
      type: object
      properties:
        mode:
          type: string
          example: ENUM_VALUE
        timer:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2InterfaceConfig:
      type: object
      properties:
        adminStatus:
          type: boolean
          example: true
        alias:
          type: string
          example: example string
        circuit:
          type: string
          example: example string
        description:
          type: string
          example: example string
        duplex:
          type: string
          example: example string
        ipsec:
          $ref: '#/components/schemas/manaV2InterfaceIPsecConfig'
        ipv4:
          $ref: '#/components/schemas/manaV2InterfaceIpConfig'
        ipv6:
          $ref: '#/components/schemas/manaV2InterfaceIpConfig'
        lan:
          type: string
          example: example string
        lldpEnabled:
          type: boolean
          example: true
        loopback:
          type: boolean
          example: true
        macsec:
          $ref: '#/components/schemas/manaV2NullableMaCsecConfiguration'
        maxTransmissionUnit:
          type: integer
          format: int32
          example: 123
          minimum: 0
        securityZone:
          type: string
          example: example string
        speed:
          type: integer
          format: int64
          example: 1234567891011
        subinterfaces:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableInterfaceVlanConfig'
        tcpMss:
          type: integer
          format: int32
          example: 123
          minimum: 0
        tcpMssV4:
          type: integer
          format: int32
          example: 123
          minimum: 0
        tcpMssV6:
          type: integer
          format: int32
          example: 123
          minimum: 0
        v4TcpMss:
          $ref: '#/components/schemas/manaV2NullableTcpMssV4'
        v6TcpMss:
          $ref: '#/components/schemas/manaV2NullableTcpMssV6'
      additionalProperties: false
    manaV2InterfaceAddress:
      type: object
      properties:
        address:
          type: string
          example: example string
        dhcpClient:
          type: boolean
          example: true
        dhcpRelay:
          $ref: '#/components/schemas/manaV2DhcpRelay'
        dhcpServer:
          type: boolean
          example: true
        origin:
          type: string
          example: ENUM_VALUE
        vrrpGroup:
          $ref: '#/components/schemas/manaV2VrrpGroup'
      additionalProperties: false
    manaV2RoutingPolicy:
      type: object
      properties:
        attachPoint:
          type: string
          example: ENUM_VALUE
        defaultAction:
          type: string
          example: ENUM_VALUE
        description:
          type: string
          example: example string
        errorMessage:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        statements:
          type: array
          items:
            $ref: '#/components/schemas/manaV2RoutingPolicyStatement'
        status:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v1DevicesDeviceIdVrfProtocolsGetResponse:
      type: object
      properties:
        bgp:
          type: boolean
          example: true
        connected:
          type: boolean
          example: true
        graphiant:
          type: boolean
          example: true
        ospfv2:
          type: boolean
          example: true
        ospfv3:
          type: boolean
          example: true
        static:
          type: boolean
          example: true
      additionalProperties: false
    manaV2NullableMaxPrefix:
      type: object
      properties:
        maxPrefix:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2Site:
      type: object
      properties:
        address:
          type: string
          example: example string
        createdAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        devices:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SiteDeviceStub'
        edgeCount:
          type: integer
          format: int32
          example: 123
          minimum: 0
        id:
          type: integer
          format: int64
          example: 1234567891011
        location:
          $ref: '#/components/schemas/manaV2Location'
        name:
          type: string
          example: example string
        notes:
          type: string
          example: example string
        policyReferenceCount:
          type: integer
          format: int32
          example: 123
          minimum: 0
        policyTag:
          $ref: '#/components/schemas/manaV2SingleRouteTag'
        segmentCount:
          type: integer
          format: int32
          example: 123
          minimum: 0
        siteListReferenceCount:
          type: integer
          format: int32
          example: 123
          minimum: 0
        tags:
          type: array
          items:
            type: string
            example: example string
        updatedAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
      additionalProperties: false
    manaV2SnmpEngineEndpoint:
      type: object
      properties:
        addresses:
          type: array
          items:
            type: string
            example: example string
        autoIpv4:
          type: boolean
          example: true
        autoIpv6:
          type: boolean
          example: true
        id:
          type: integer
          format: int64
          example: 1234567891011
        interfaceName:
          type: string
          example: example string
        lanSegment:
          type: string
          example: example string
        name:
          type: string
          example: example string
      additionalProperties: false
    v1DevicesDeviceIdCircuitsVrfAssociationsGetResponse:
      type: object
      properties:
        vrfAssociations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v1DevicesDeviceIdCircuitsVrfAssociationsGetResponseVrfAssociations'
      additionalProperties: false
    manaV2NullableMaCsecRekeyInterval:
      type: object
      properties:
        rekeyInterval:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    v1DevicesDeviceIdVersionsVersionGetResponse:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/manaV2ManaConfiguration'
      additionalProperties: false
    v1DevicesUpgradeCancelPutRequest:
      type: object
      properties:
        deviceIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
      additionalProperties: false
    v1DevicesInventoryPostRequest:
      type: object
      properties:
        hardwareInventoryList:
          type: array
          items:
            $ref: '#/components/schemas/onboardingHardwareInventory'
      additionalProperties: false
    routingVrrpEntry:
      type: object
      properties:
        addressFamily:
          type: string
          example: IPv4 or IPv6
          description: type of IP address
        advertisementRcvd:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        advertisementSent:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        effectivePriority:
          type: integer
          format: int32
          example: 123
          minimum: 0
        groupId:
          type: integer
          format: int32
          example: 123
          minimum: 0
        isOwner:
          type: boolean
          example: true
        masterTransition:
          type: integer
          format: int32
          example: 123
          minimum: 0
        newMasterReason:
          type: string
          example: UNSET = 0
        priorityZeroPktsRcvd:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        priorityZeroPktsSent:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        state:
          type: string
          example: UNSET = 0
      additionalProperties: false
    manaV2NullableVrrpGroupConfig:
      type: object
      properties:
        group:
          $ref: '#/components/schemas/manaV2VrrpGroupConfig'
      additionalProperties: false
    manaV2NullableOspfHelloIntervalValue:
      type: object
      properties:
        helloInterval:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2ForwardingPolicyMatchConfig:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/manaV2NullableApplicationMatchConfig'
        contentFilter:
          $ref: '#/components/schemas/manaV2NullableContentFilterMatchConfig'
        destinationNetwork:
          $ref: '#/components/schemas/manaV2NullableDestinationNetworkMatchConfig'
        destinationPort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        destinationPortRange:
          $ref: '#/components/schemas/manaV2PortRangeConfig'
        domainList:
          $ref: '#/components/schemas/manaV2NullableDomainListMatchConfig'
        dscp:
          $ref: '#/components/schemas/manaV2NullableDscpMatchConfig'
        icmpType:
          type: integer
          format: int32
          example: 123
          minimum: 0
        ipProtocol:
          type: string
          example: ENUM_VALUE
        protocol:
          $ref: '#/components/schemas/manaV2NullableIpProtocol'
        sourceNetwork:
          $ref: '#/components/schemas/manaV2NullableSourceNetworkMatchConfig'
        sourcePort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sourcePortRange:
          $ref: '#/components/schemas/manaV2PortRangeConfig'
      additionalProperties: false
    googleProtobufDuration:
      type: object
      properties:
        nanos:
          type: integer
          format: int32
          example: 123
        seconds:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    v1DevicesDeviceIdOspfv3DefaultOriginateGetResponse:
      type: object
      properties:
        defaultOriginates:
          type: object
          additionalProperties:
            type: string
            example: ENUM_VALUE
      additionalProperties: false
    manaV2SnmpUsmLocalUserConfig:
      type: object
      properties:
        authPassphrase:
          type: string
          example: example string
        authProtocol:
          type: string
          example: ENUM_VALUE
        encryptionPassphrase:
          type: string
          example: example string
        encryptionProtocol:
          type: string
          example: ENUM_VALUE
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2NullablePrefixSetConfig:
      type: object
      properties:
        prefixSet:
          $ref: '#/components/schemas/manaV2PrefixSetConfig'
      additionalProperties: false
    manaV2InterfaceCoreConfig:
      type: object
      properties:
        adminStatus:
          type: boolean
          example: true
        alias:
          type: string
          example: example string
        circuit:
          type: string
          example: example string
        coreNeighbor:
          $ref: '#/components/schemas/manaV2InterfaceCoreToCorePeerConfig'
        coreToCoreTunnel:
          $ref: '#/components/schemas/manaV2InterfaceWanManagementConfig'
        createLinkLocalAddress:
          type: boolean
          example: true
        default:
          $ref: '#/components/schemas/manaV2InterfaceDefaultConfig'
        description:
          type: string
          example: example string
        duplex:
          type: string
          example: example string
        dynamic:
          $ref: '#/components/schemas/manaV2LatencyBandwidth'
        flexAlgos:
          $ref: '#/components/schemas/manaV2InterfaceCoreFlexAlgoConfig'
        gatewayNeighbor:
          $ref: '#/components/schemas/manaV2InterfaceCoreToGatewayPeerConfig'
        gw:
          $ref: '#/components/schemas/manaV2NullableInterfaceIpConfig'
        interfaceType:
          $ref: '#/components/schemas/manaV2interface_config_type'
        ipsec:
          $ref: '#/components/schemas/manaV2InterfaceIPsecConfig'
        ipv4:
          $ref: '#/components/schemas/manaV2InterfaceIpConfig'
        ipv6:
          $ref: '#/components/schemas/manaV2InterfaceIpConfig'
        lan:
          type: string
          example: example string
        lldpEnabled:
          type: boolean
          example: true
        loopback:
          type: boolean
          example: true
        maxTransmissionUnit:
          type: integer
          format: int32
          example: 123
          minimum: 0
        mplsEnabled:
          type: boolean
          example: true
        ospfCost:
          $ref: '#/components/schemas/manaV2CoreLinkCost'
        ospfInterface:
          $ref: '#/components/schemas/manaV2NullableOspfInterfaceConfig'
        peerDeviceId:
          type: integer
          format: int64
          example: 1234567891011
        peerHostname:
          type: string
          example: example string
        securityZone:
          type: string
          example: example string
        speed:
          type: integer
          format: int64
          example: 1234567891011
        static:
          type: integer
          format: int32
          example: 123
          minimum: 0
        subinterfaces:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableCoreInterfaceVlanConfig'
        tcpMss:
          type: integer
          format: int32
          example: 123
          minimum: 0
        tcpMssV4:
          type: integer
          format: int32
          example: 123
          minimum: 0
        tcpMssV6:
          type: integer
          format: int32
          example: 123
          minimum: 0
        tunnelInterface:
          type: string
          example: example string
        tunnelUnderlay:
          type: string
          example: example string
        wan:
          $ref: '#/components/schemas/manaV2InterfaceWanConfig'
        wanManagement:
          $ref: '#/components/schemas/manaV2InterfaceWanManagementConfig'
        xTalkFilter:
          type: boolean
          example: true
      additionalProperties: false
    manaV2NullableSetDscpConfig:
      type: object
      properties:
        val:
          $ref: '#/components/schemas/manaV2Dscp'
      additionalProperties: false
    manaV2NullableEbgpConfig:
      type: object
      properties:
        multiHop:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    v1DevicesRunningVersionPostResponse:
      type: object
      properties:
        versions:
          type: array
          items:
            $ref: '#/components/schemas/upgradeRunningSwVersion'
      additionalProperties: false
    manaV2TrafficPolicyRulesetConfigNullableRuleRule:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/manaV2TrafficPolicyRulesetConfigNullableRuleRuleAction'
        description:
          type: string
          example: example string
        match:
          $ref: '#/components/schemas/manaV2ForwardingPolicyMatchConfig'
        name:
          type: string
          example: example string
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2NullableRoutingPolicyConfig:
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/manaV2RoutingPolicyConfig'
      additionalProperties: false
    manaV2BfdNeighbor:
      type: object
      properties:
        desiredMinimumTxInterval:
          type: integer
          format: int32
          example: 123
          minimum: 0
        ifIndex:
          type: integer
          format: int32
          example: 123
          minimum: 0
        interface:
          type: string
          example: example string
        lastUpdated:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        localDiag:
          type: string
          example: ENUM_VALUE
        peerAddress:
          type: string
          example: example string
        remoteDiag:
          type: string
          example: ENUM_VALUE
        requiredMinimumRxInterval:
          type: integer
          format: int32
          example: 123
          minimum: 0
        segmentName:
          type: string
          example: example string
        sourceAddress:
          type: string
          example: example string
        state:
          type: string
          example: ENUM_VALUE
        timeInState:
          $ref: '#/components/schemas/googleProtobufDuration'
        up:
          type: boolean
          example: true
      additionalProperties: false
    manaV2Region:
      type: object
      properties:
        coordinates:
          $ref: '#/components/schemas/manaV2RegionCoordinates'
        id:
          type: integer
          format: int32
          example: 123
        name:
          type: string
          example: example string
        regionIsoCode:
          type: string
          example: example string
        unavailable:
          type: boolean
          example: true
      additionalProperties: false
    manaV2SyslogCollectorConfig:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        host:
          type: string
          example: example string
        interfaceName:
          type: string
          example: example string
        isGlobalSync:
          type: boolean
          example: true
        name:
          type: string
          example: example string
        port:
          type: integer
          format: int32
          example: 123
          minimum: 0
        severity:
          type: string
          example: ENUM_VALUE
        transport:
          type: string
          example: ENUM_VALUE
        vrfId:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2NullableMeterRates:
      type: object
      properties:
        rate:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2StaticRouteNexthop:
      type: object
      properties:
        circuit:
          type: string
          example: example string
        id:
          type: integer
          format: int64
          example: 1234567891011
        metric:
          type: integer
          format: int32
          example: 123
          minimum: 0
        nextHopAddress:
          type: string
          example: example string
        nexthop:
          type: string
          example: example string
        outgoingInterface:
          type: string
          example: example string
        thirdPartyIpsecTunnel:
          type: string
          example: example string
      additionalProperties: false
    v1DevicesOauthPostResponse:
      type: object
      properties:
        access_token:
          type: string
          example: access-token-12345
          description: OAuth access token
        expires_in:
          type: integer
          example: 3600
          description: Token expiration time in seconds
        token_type:
          type: string
          example: Bearer
          description: Token type
    v1DevicesSessionStatusPostRequest:
      type: object
      properties:
        deviceIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
      additionalProperties: false
    manaV2InterfaceCoreFlexAlgoConfig:
      type: object
      properties:
        flexAlgoNames:
          type: array
          items:
            type: string
            example: example string
      additionalProperties: false
    v1DevicesDeviceIdCircuitsVrfAssociationsGetResponseVrfAssociations:
      type: object
      properties:
        interfaceName:
          type: string
          example: example string
        loopbackInterfaceName:
          type: string
          example: example string
        vrfName:
          type: string
          example: example string
      additionalProperties: false
    manaV2NullableIPv6Address:
      type: object
      properties:
        address:
          type: string
          example: example string
      additionalProperties: false
    manaV2OspFv2Process:
      type: object
      properties:
        adminDistance:
          type: integer
          format: int32
          example: 100
          minimum: 0
          description: Administrative Distance for routes installed
        areas:
          type: array
          items:
            $ref: '#/components/schemas/manaV2OspfArea'
        autoRouterId:
          type: boolean
          example: true
        defaultOriginate:
          type: string
          example: ENUM_VALUE
        id:
          type: integer
          format: int64
          example: 1234567891011
        redistributedProtocols:
          type: array
          items:
            $ref: '#/components/schemas/manaV2OspfRedistribute'
        routerId:
          type: string
          example: example string
      additionalProperties: false
    manaV2Location:
      type: object
      properties:
        addressLine1:
          type: string
          example: example string
        addressLine2:
          type: string
          example: example string
        city:
          type: string
          example: example string
        country:
          type: string
          example: example string
        countryCode:
          type: string
          example: example string
        latitude:
          type: number
          format: double
          example: 123.45
        longitude:
          type: number
          format: double
          example: 123.45
        notes:
          type: string
          example: example string
        provinceCode:
          type: string
          example: example string
        state:
          type: string
          example: example string
        stateCode:
          type: string
          example: example string
      additionalProperties: false
    manaV2IPsecBgpRouteConfig:
      type: object
      properties:
        addressFamilies:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableBgpNeighborAddressFamilyConfig'
        holdTimer:
          type: integer
          format: int32
          example: 123
          minimum: 0
        keepaliveTimer:
          type: integer
          format: int32
          example: 123
          minimum: 0
        md5Password:
          $ref: '#/components/schemas/manaV2NullableMd5Password'
        peerAsn:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sendCommunity:
          type: boolean
          example: true
      additionalProperties: false
    manaV2NullableMd5Password:
      type: object
      properties:
        md5Password:
          type: string
          example: example string
      additionalProperties: false
    manaV2DhcpipRangeConfig:
      type: object
      properties:
        end:
          type: string
          example: example string
        start:
          type: string
          example: example string
      additionalProperties: false
    manaV2NullableTrafficPolicyRulesetConfig:
      type: object
      properties:
        ruleset:
          $ref: '#/components/schemas/manaV2TrafficPolicyRulesetConfig'
      additionalProperties: false
    v1DevicesInventoryApproveReturnPostRequest:
      type: object
      properties:
        deviceSerials:
          type: array
          items:
            type: string
            example: example string
      additionalProperties: false
    manaV2NullableLagMemberInterface:
      type: object
      properties:
        interface:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2RegionCoordinates:
      type: object
      properties:
        latitude:
          type: number
          format: double
          example: 123.45
        longitude:
          type: number
          format: double
          example: 123.45
      additionalProperties: false
    manaV2NullableOspfAdminDistanceValue:
      type: object
      properties:
        adminDistance:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2StaticRouteConfig:
      type: object
      properties:
        adminDistance:
          type: integer
          format: int32
          example: 123
          minimum: 0
        administrativeDistance:
          $ref: '#/components/schemas/manaV2NullableAdministrativeDistance'
        description:
          type: string
          example: example string
        destinationPrefix:
          type: string
          example: example string
        ipVersion:
          type: integer
          format: int32
          example: 123
          minimum: 0
        nextHop:
          $ref: '#/components/schemas/manaV2StaticRouteNexthopConfig'
        nextHops:
          type: array
          items:
            $ref: '#/components/schemas/manaV2StaticRouteNexthopConfig'
      additionalProperties: false
    manaV2LagInterfaceConfig:
      type: object
      properties:
        adminStatus:
          type: boolean
          example: true
        alias:
          type: string
          example: example string
        description:
          type: string
          example: example string
        ipv4:
          $ref: '#/components/schemas/manaV2InterfaceIpConfig'
        ipv6:
          $ref: '#/components/schemas/manaV2InterfaceIpConfig'
        lacp:
          $ref: '#/components/schemas/manaV2LacpConfig'
        lagMembers:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableLagMemberInterface'
        macsec:
          $ref: '#/components/schemas/manaV2NullableMaCsecConfiguration'
        minimumMembers:
          type: integer
          format: int32
          example: 123
          minimum: 0
        mtu:
          type: integer
          format: int32
          example: 123
          minimum: 0
        segment:
          type: string
          example: example string
        subinterfaces:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableInterfaceLagvlanConfig'
      additionalProperties: false
    manaV2PrefixSetConfigNullableEntryEntry:
      type: object
      properties:
        ipPrefix:
          type: string
          example: example string
        maskLower:
          type: integer
          format: int32
          example: 123
          minimum: 0
        maskUpper:
          type: integer
          format: int32
          example: 123
          minimum: 0
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2StaticRouteNexthopConfig:
      type: object
      properties:
        address:
          type: string
          example: example string
        circuit:
          type: string
          example: example string
        interface:
          type: string
          example: example string
        nextHopAddress:
          type: string
          example: example string
        thirdPartyIpsecTunnel:
          type: string
          example: example string
      additionalProperties: false
    v1DevicesDeviceIdConnectivityGetResponse:
      type: object
      properties:
        edges:
          type: array
          items:
            $ref: '#/components/schemas/manaV2ConnectivityGraphEdge'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/manaV2ConnectivityGraphNode'
      additionalProperties: false
    v1DevicesClearNewFlagPostResponse:
      type: object
      properties: {}
      additionalProperties: false
    v1DevicesInventoryPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v1DevicesInventoryPostResponseData'
      additionalProperties: false
    manaV2OspfAuthenticationConfig:
      type: object
      properties: {}
      additionalProperties: false
    manaV2DhcpSubnetConfig:
      type: object
      properties:
        defaultLeaseTimeSecs:
          type: integer
          format: int32
          example: 123
          minimum: 0
        description:
          type: string
          example: example string
        domainName:
          type: string
          example: example string
        domainNameServer:
          $ref: '#/components/schemas/manaV2DhcpServerDnsParametersConfig'
        interface:
          type: string
          example: example string
        ipGateway:
          type: string
          example: example string
        ipPrefix:
          type: string
          example: example string
        ipRanges:
          type: array
          items:
            $ref: '#/components/schemas/manaV2DhcpipRangeConfig'
        ipRangesV2:
          $ref: '#/components/schemas/manaV2NullableDhcpipRangeList'
        maxLeaseTimeSecs:
          type: integer
          format: int32
          example: 123
          minimum: 0
        minLeaseTimeSecs:
          type: integer
          format: int32
          example: 123
          minimum: 0
        name:
          type: string
          example: example string
        staticLeases:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableDhcpSubnetStaticLeaseConfig'
      additionalProperties: false
    manaV2DNSConfigStatic:
      type: object
      properties:
        primaryIpv4V2:
          $ref: '#/components/schemas/manaV2NullableIPv4Address'
        primaryIpv6V2:
          $ref: '#/components/schemas/manaV2NullableIPv6Address'
        secondaryIpv4V2:
          $ref: '#/components/schemas/manaV2NullableIPv4Address'
        secondaryIpv6V2:
          $ref: '#/components/schemas/manaV2NullableIPv6Address'
      additionalProperties: false
    manaV2RoutingPolicyStatement:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/manaV2RoutingPolicyStatementAction'
        id:
          type: integer
          format: int64
          example: 1234567891011
        matches:
          type: array
          items:
            $ref: '#/components/schemas/manaV2RoutingPolicyStatementMatch'
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    v1DevicesInventoryClearReturnPostRequest:
      type: object
      properties:
        deviceSerials:
          type: array
          items:
            type: string
            example: example string
      additionalProperties: false
    manaV2NullableSnmpNotifyFilterProfileConfigValue:
      type: object
      properties:
        notifyFilterProfile:
          $ref: '#/components/schemas/manaV2SnmpNotifyFilterProfileConfig'
      additionalProperties: false
    manaV2SnmpNotifyFilterProfile:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        includeExcludeList:
          type: array
          items:
            $ref: '#/components/schemas/manaV2NotifyFilterProfileInclude'
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2Device:
      type: object
      properties:
        bgp:
          $ref: '#/components/schemas/manaV2BgpInstance'
        bgpEnabled:
          type: boolean
          example: true
        circuits:
          type: array
          items:
            $ref: '#/components/schemas/manaV2Circuit'
        configUpdatedAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        createdAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        dhcpServerEnabled:
          type: boolean
          example: true
        dns:
          $ref: '#/components/schemas/manaV2Dns'
        gdi:
          type: integer
          format: int32
          example: 123
          minimum: 0
        hostname:
          type: string
          example: example string
        id:
          type: integer
          format: int64
          example: 1234567891011
        interfaces:
          type: array
          items:
            $ref: '#/components/schemas/manaV2Interface'
        internalState:
          type: string
          example: ENUM_VALUE
        ipfixEnabled:
          type: boolean
          example: true
        ipfixExporters:
          type: array
          items:
            $ref: '#/components/schemas/manaV2IpfixExporter'
        ipsecTunnels:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SiteToSiteIPsec'
        lastBootedAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        lldpEnabled:
          type: boolean
          example: true
        localRouteTag:
          $ref: '#/components/schemas/manaV2RouteTag'
        localWebServerPassword:
          type: string
          example: example string
        location:
          $ref: '#/components/schemas/manaV2Location'
        maintenanceMode:
          type: boolean
          example: true
        natPolicy:
          $ref: '#/components/schemas/manaV2NatPolicy'
        notes:
          type: string
          example: example string
        ntp:
          $ref: '#/components/schemas/manaV2Ntp'
        operStaled:
          type: boolean
          example: true
        operStaledAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        operUpdatedAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        ospfv2Enabled:
          type: boolean
          example: true
        ospfv3Enabled:
          type: boolean
          example: true
        platform:
          type: string
          example: example string
        prefixSets:
          type: array
          items:
            $ref: '#/components/schemas/manaV2PrefixSet'
        rebootReason:
          type: string
          example: example string
        region:
          $ref: '#/components/schemas/manaV2Region'
        regionOverride:
          $ref: '#/components/schemas/manaV2Region'
        role:
          type: string
          example: ENUM_VALUE
        routingPolicies:
          type: array
          items:
            $ref: '#/components/schemas/manaV2RoutingPolicy'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/manaV2Vrf'
        serialNumber:
          type: string
          example: example string
        site:
          $ref: '#/components/schemas/manaV2Site'
        slaConformance:
          $ref: '#/components/schemas/manaV2SlaConformance'
        snmp:
          $ref: '#/components/schemas/manaV2Snmp'
        softwareVersion:
          type: string
          example: example string
        staticRoutesEnabled:
          type: boolean
          example: true
        status:
          type: string
          example: ENUM_VALUE
        trafficPolicy:
          $ref: '#/components/schemas/manaV2ForwardingPolicy'
        uptime:
          $ref: '#/components/schemas/googleProtobufDuration'
        vrrpEnabled:
          type: boolean
          example: true
      additionalProperties: false
    manaV2SecurityZonePairConfig:
      type: object
      properties:
        outside:
          type: string
          example: example string
        ruleset:
          type: string
          example: example string
        tcpProtection:
          type: boolean
          example: true
      additionalProperties: false
    manaV2OspfAuthentication:
      type: object
      properties:
        key:
          type: string
          example: example string
          description: Shared secret for OSPFv2 MD5 authentication on this interface
        keyId:
          type: integer
          format: int32
          example: 123
          minimum: 0
          description: Identifier of the OSPFv2 MD5 authentication key configured on this interface
      additionalProperties: false
    manaV2BgpInstance:
      type: object
      properties:
        asn:
          type: integer
          format: int32
          example: 123
          minimum: 0
        id:
          type: integer
          format: int64
          example: 1234567891011
        routerId:
          type: string
          example: example string
      additionalProperties: false
    manaV2SnmpUsmRemoteUser:
      type: object
      properties:
        authLocKey:
          type: string
          example: example string
        authProtocol:
          type: string
          example: ENUM_VALUE
        encryptionLocKey:
          type: string
          example: example string
        encryptionProtocol:
          type: string
          example: ENUM_VALUE
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2LagInterface:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        lacpConfig:
          $ref: '#/components/schemas/manaV2LacpConfig'
        members:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
        minimumMembers:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2CoreLinkCost:
      type: object
      properties:
        dynamic:
          $ref: '#/components/schemas/manaV2LatencyBandwidth'
        static:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2NullableBgpMultipathConfig:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/manaV2BgpMultipathConfig'
      additionalProperties: false
    manaV2RoutingPolicyConfigNullableStatementStatementNullableAction:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/manaV2RoutingPolicyConfigNullableStatementStatementNullableActionAction'
      additionalProperties: false
    manaV2NullableInterfaceName:
      type: object
      properties:
        interface:
          type: string
          example: example string
      additionalProperties: false
    manaV2IPsecTunnel:
      type: object
      properties:
        destinationAddress:
          type: string
          example: example string
        ikeInitiator:
          type: boolean
          example: true
        ipsecLabel:
          type: string
          example: ENUM_VALUE
        lan:
          type: string
          example: example string
        localAddressV4:
          type: string
          example: example string
        localAddressV6:
          type: string
          example: example string
        localCircuit:
          type: string
          example: example string
        localIkePeerIdentity:
          type: string
          example: example string
        mtu:
          type: integer
          format: int32
          example: 123
          minimum: 0
        name:
          type: string
          example: example string
        presharedKey:
          type: string
          example: example string
        remoteAddressV4:
          type: string
          example: example string
        remoteAddressV6:
          type: string
          example: example string
        remoteIkePeerIdentity:
          type: string
          example: example string
        routing:
          $ref: '#/components/schemas/manaV2IpsecRoutingConfig'
        tcpMss:
          type: integer
          format: int32
          example: 123
          minimum: 0
        vpnProfile:
          type: string
          example: example string
      additionalProperties: false
    manaV2NotifyFilterProfileInclude:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        include:
          type: boolean
          example: true
        subtree:
          type: string
          example: example string
      additionalProperties: false
    manaV2DhcpRelay:
      type: object
      properties:
        dhcpv4Relays:
          type: array
          items:
            type: string
            example: example string
        dhcpv6Relays:
          type: array
          items:
            type: string
            example: example string
        id:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2NullableL4PortListConfig:
      type: object
      properties:
        list:
          $ref: '#/components/schemas/manaV2L4PortListConfig'
      additionalProperties: false
    v1DevicesDeviceIdControllerPeersPutRequest:
      type: object
      properties:
        action:
          type: string
          example: ENUM_VALUE
        controllerDeviceId:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2PrometheusSysDbMonitorConfig:
      type: object
      properties:
        intervalSeconds:
          type: integer
          format: int32
          example: 123
          minimum: 0
        name:
          type: string
          example: example string
        xpaths:
          type: array
          items:
            type: string
            example: example string
      additionalProperties: false
    manaV2QoSProfile:
      type: object
      properties:
        kind:
          type: string
          example: ENUM_VALUE
        profile:
          type: string
          example: ENUM_VALUE
        queues:
          type: array
          items:
            $ref: '#/components/schemas/manaV2QoSProfileQueue'
      additionalProperties: false
    v1DevicesDeviceIdDhcpServerLeasesGetResponse:
      type: object
      properties:
        pools:
          type: array
          items:
            $ref: '#/components/schemas/manaV2DhcpServerPool'
      additionalProperties: false
    manaV2InterfaceDhcpConfig:
      type: object
      properties:
        dhcpClient:
          type: boolean
          example: true
        dhcpRelay:
          $ref: '#/components/schemas/manaV2DhcpRelayConfig'
      additionalProperties: false
    manaV2VersionMetadata:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        version:
          type: integer
          format: int32
          example: 123
      additionalProperties: false
    manaV2NullablePrometheusSysDbMonitorConfig:
      type: object
      properties:
        sysdbMonitor:
          $ref: '#/components/schemas/manaV2PrometheusSysDbMonitorConfig'
      additionalProperties: false
    manaV2NullableSyslogCollectorConfig:
      type: object
      properties:
        target:
          $ref: '#/components/schemas/manaV2SyslogCollectorConfig'
      additionalProperties: false
    v1DevicesInventoryClearReturnPostResponse:
      type: object
      properties: {}
      additionalProperties: false
    manaV2RoutingPolicyConfigNullableStatementStatementNullableActionAction:
      type: object
      properties:
        administrativeDistance:
          $ref: '#/components/schemas/manaV2NullableAdministrativeDistance'
        aspathPrepend:
          $ref: '#/components/schemas/manaV2NullableAsPathPrepend'
        bgpSetNextHop:
          $ref: '#/components/schemas/manaV2NullableBgpSetNextHop'
        callPolicy:
          $ref: '#/components/schemas/manaV2NullableCallPolicy'
        communities:
          $ref: '#/components/schemas/manaV2NullableCommunities'
        localPref:
          $ref: '#/components/schemas/manaV2NullableLocalPreferance'
        metric:
          $ref: '#/components/schemas/manaV2NullableMetric'
        result:
          type: string
          example: ENUM_VALUE
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
        weight:
          $ref: '#/components/schemas/manaV2NullableWeight'
      additionalProperties: false
    manaV2RoutingPolicyConfigNullableStatementStatementNullableMatchMatch:
      type: object
      properties:
        community:
          $ref: '#/components/schemas/manaV2NullableCommunity'
        prefixSet:
          $ref: '#/components/schemas/manaV2NullablePrefixSet'
        protocolRouteType:
          $ref: '#/components/schemas/manaV2NullableProtocolRouteType'
        routeTag:
          $ref: '#/components/schemas/manaV2NullableRouteTagSet'
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sourceInterface:
          $ref: '#/components/schemas/manaV2NullableInterfaceName'
        sourceProtocol:
          $ref: '#/components/schemas/manaV2NullableRoutingProtocol'
        stale:
          $ref: '#/components/schemas/manaV2NullableStalePurge'
      additionalProperties: false
    manaV2InterfaceCoreToCorePeerConfig:
      type: object
      properties:
        Cost:
          $ref: '#/components/schemas/manaV2CoreLinkCost'
        ospfCost:
          $ref: '#/components/schemas/manaV2CoreLinkCost'
        peerHostname:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2GraphiantConnections:
      type: object
      properties:
        controlConnection:
          type: array
          items:
            $ref: '#/components/schemas/manaV2IpsecConnection'
        coreConnection:
          type: array
          items:
            $ref: '#/components/schemas/manaV2IpsecConnection'
        managementConnection:
          type: array
          items:
            $ref: '#/components/schemas/manaV2IpsecConnection'
      additionalProperties: false
    v1DevicesBringupPostRequest:
      type: object
      properties:
        deviceIds:
          type: array
          items:
            type: integer
            format: int64
            example: 12345678910
            minimum: 0
      additionalProperties: false
    v1DevicesDeviceIdGetResponse:
      type: object
      properties:
        device:
          $ref: '#/components/schemas/manaV2Device'
      additionalProperties: false
    manaV2NullableSecurityZonePairConfig:
      type: object
      properties:
        pair:
          $ref: '#/components/schemas/manaV2SecurityZonePairConfig'
      additionalProperties: false
    googleProtobufTimestamp:
      type: object
      properties:
        nanos:
          type: integer
          format: int32
          example: 123
        seconds:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2SecurityPolicyRuleset:
      type: object
      properties:
        description:
          type: string
          example: example string
        errorMessage:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        id:
          type: integer
          format: int64
          example: 1234567891011
        index:
          type: integer
          format: int32
          example: 123
          minimum: 0
        name:
          type: string
          example: example string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SecurityPolicyRulesetRule'
        status:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v1DevicesBringupTokenPostRequest:
      type: object
      properties:
        role:
          type: string
          example: ENUM_VALUE
        validTillTs:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        validitySec:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    v1DevicesDeviceIdDraftPostResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 123
      additionalProperties: false
    manaV2NullableRoutingProtocol:
      type: object
      properties:
        protocol:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2TrafficPolicyRulesetConfigNullableRuleRuleAction:
      type: object
      properties:
        backupCircuit:
          $ref: '#/components/schemas/manaV2NullableSetCircuitConfig'
        backupCircuitLabel:
          $ref: '#/components/schemas/manaV2NullableSetCircuitLabelConfig'
        egress:
          type: string
          example: ENUM_VALUE
        logging:
          type: boolean
          example: true
        primaryCircuit:
          $ref: '#/components/schemas/manaV2NullableSetCircuitConfig'
        primaryCircuitLabel:
          $ref: '#/components/schemas/manaV2NullableSetCircuitLabelConfig'
        remark:
          $ref: '#/components/schemas/manaV2NullableSetDscpConfig'
        setSlaClass:
          $ref: '#/components/schemas/manaV2NullableSetSlaClassConfig'
      additionalProperties: false
    manaV2StaticRoute:
      type: object
      properties:
        administrativeDistance:
          type: integer
          format: int32
          example: 123
          minimum: 0
        description:
          type: string
          example: example string
        id:
          type: integer
          format: int64
          example: 1234567891011
        nextHop:
          $ref: '#/components/schemas/manaV2StaticRouteNexthop'
        nextHops:
          type: array
          items:
            $ref: '#/components/schemas/manaV2StaticRouteNexthop'
        prefix:
          type: string
          example: example string
      additionalProperties: false
    manaV2NullableSetSlaClassConfig:
      type: object
      properties:
        class:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2NullableDpiApplicationConfig:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/manaV2DpiApplicationConfig'
      additionalProperties: false
    v1DevicesClearNewFlagPostRequest:
      type: object
      properties: {}
      additionalProperties: false
    manaV2SecurityPolicyRulesetConfigNullableRuleRule:
      type: object
      properties:
        action:
          type: string
          example: ENUM_VALUE
        description:
          type: string
          example: example string
        downlinkBurstRate:
          $ref: '#/components/schemas/manaV2NullableMeterRates'
        downlinkPolicerRate:
          $ref: '#/components/schemas/manaV2NullableMeterRates'
        logging:
          type: boolean
          example: true
        match:
          $ref: '#/components/schemas/manaV2ForwardingPolicyMatchConfig'
        name:
          type: string
          example: example string
[...]
