openapi: 3.2.0
info:
  title: Graphiant Ack API
  version: 1.0.0
  description: Graphiant API documentation.
servers:
- url: https://api.graphiant.com
security:
- jwtAuth: []
tags:
- name: Ack
paths:
  /v2/ack/createupdate:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AckCreateupdatePostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AckCreateupdatePostResponse'
      tags:
      - Ack
components:
  schemas:
    v2AckCreateupdatePostResponse:
      type: object
      properties: {}
      additionalProperties: false
    v2AckCreateupdatePostRequest:
      type: object
      properties:
        alertIdList:
          type: array
          items:
            type: string
            example: example string
            description: List of ids of alerts to acknowledge (required)
        reason:
          type: string
          example: example string
          description: Optional triage message in acknowledgement
      additionalProperties: false
      required:
      - alertIdList
  securitySchemes:
    jwtAuth:
      type: apiKey
      in: header
      name: authorization
      description: Use `Bearer <token>`
