openapi: 3.2.0
info:
  title: Graphiant Monitoring API
  version: 1.0.0
  description: Graphiant API documentation.
servers:
- url: https://api.graphiant.com
security:
- jwtAuth: []
tags:
- name: Monitoring
paths:
  /v2/monitoring/bfd:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringBfdPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringBfdPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/bgp:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringBgpPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringBgpPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/circuits/bandwidth:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringCircuitsBandwidthPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringCircuitsBandwidthPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/circuits/summary:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringCircuitsSummaryPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringCircuitsSummaryPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/circuits/utilization:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringCircuitsUtilizationPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringCircuitsUtilizationPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/extranet/service-status/details:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: query
        description: the id associated with an entity - consumer_id for consumer, and service_id for the producer/service
        required: true
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 1
      - name: isProvider
        in: query
        description: whether the entity is a provider or consumer
        required: true
        schema:
          type: boolean
          example: true
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringExtranetServiceStatusDetailsGetResponse'
      description: Returns a list of Site-to-ServerIPAddress statuses for a particular producer of consumer. Each element contains a Site object (with site information) and a mapping of Server Ip addresses to the corresponding Reachability status.Healthy status indicates all the edges/gateways within the Site can reach all the Server IP addresses.Impaired status indicates that some of the edges/gateways within the Site can reach only a subset of Server IP addresses.Down status indicates that none of the edges/gateways within the Site can reach any of the Server IP addresses.
      tags:
      - Monitoring
  /v2/monitoring/extranet/service-status:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: query
        description: the id associated with an entity - consumer_id for consumer, and service_id for the producer/service
        required: true
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 1
      - name: isProvider
        in: query
        description: whether the entity is a provider or consumer
        required: true
        schema:
          type: boolean
          example: true
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringExtranetServiceStatusGetResponse'
      description: Returns a list of Status objects indicating the availability/reachability of all the Server IP addresses configured to the service. Healthy status indicates the Server IP address is reachable from all provider sites. Impaired status indicates the Server IP address is reachable from a subset of provider sites. Down status indicates the Server IP address can't be reached from any of the provider sites.
      tags:
      - Monitoring
  /v2/monitoring/extranet/log-details:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringExtranetLogDetailsPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringExtranetLogDetailsPostResponse'
      description: Returns connectivity logs for service monitoring. Includes timestamps for when connectivity from an edge/gateway to a Server IP address was lost or regained.
      tags:
      - Monitoring
  /v2/monitoring/extranet/edge-status:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: query
        description: the id associated with an entity - consumer_id for consumer, and service_id for the producer/service
        required: true
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 1
      - name: isProvider
        in: query
        description: whether the entity is a provider or consumer
        required: true
        schema:
          type: boolean
          example: true
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringExtranetEdgeStatusGetResponse'
      description: Returns connectivity status for individual edges/gateways in extranet/ b2b application service monitoring. Provides granular view of which specific edges can reach server IP addresses. Shows per-edge connectivity status including healthy, impaired, or down states. Helps identify specific edge-level connectivity issues within sites.
      tags:
      - Monitoring
  /v2/monitoring/extranet/status-details:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: query
        description: the id associated with an entity - consumer_id for consumer, and service_id for the producer/service
        required: true
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 1
      - name: isProvider
        in: query
        description: whether the entity is a provider or consumer
        required: true
        schema:
          type: boolean
          example: true
        example: true
      - name: serverAddress
        in: query
        description: the address of the server
        required: true
        schema:
          type: string
          example: example string
        example: 192.168.1.1
      - name: siteId
        in: query
        description: the id of the site
        required: true
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringExtranetStatusDetailsGetResponse'
      description: Detailed view of the reachability of the Server IP addresses from the selected (producer or consumer) Site.Lists Site-to-ServerIPAddress statuses for the selected SiteLists Edge-to-ServerIPAddress statuses for All Edges within the selected Site.Returns physical Location of the SiteReturns Region of the Site.
      tags:
      - Monitoring
  /v2/monitoring/extranet/site-status:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: query
        description: the id associated with an entity - consumer_id for consumer, and service_id for the producer/service
        required: true
        schema:
          type: integer
          format: int64
          example: 1234567891011
        example: 1
      - name: isProvider
        in: query
        description: whether the entity is a provider or consumer
        required: true
        schema:
          type: boolean
          example: true
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringExtranetSiteStatusGetResponse'
      description: Returns a list of Statuses objects indicating the availability/reachability of the Server IP addresses from the Sites configured to the Provider or Consumer of the service.Healthy status indicates the Site can reach all the Server IP Addresses.Impaired status indicates that the Site can reach only a subset of Server IP addresses.Down status indicates the Site can reach none of the Server IP addresses.
      tags:
      - Monitoring
  /v2/monitoring/ipsec:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringIpsecPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringIpsecPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/ike-error-history:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringIkeErrorHistoryPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringIkeErrorHistoryPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/interface:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringInterfacePostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringInterfacePostResponse'
      tags:
      - Monitoring
  /v2/monitoring/macsec/{deviceId}/status:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringMacsecDeviceIdStatusGetResponse'
      description: Returns the MACsec status for all interfaces on a device
      tags:
      - Monitoring
  /v2/monitoring/policy:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringPolicyPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringPolicyPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/queue-instant:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringQueueInstantPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringQueueInstantPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/segment-route-counts:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringSegmentRouteCountsPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringSegmentRouteCountsPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/site-circuits/bandwidth/{siteId}:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: siteId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringSiteCircuitsBandwidthSiteIdPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringSiteCircuitsBandwidthSiteIdPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/site-twamp/{siteId}:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: siteId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringSiteTwampSiteIdPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringSiteTwampSiteIdPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/system:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringSystemPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringSystemPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/twamp:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringTwampPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringTwampPostResponse'
      tags:
      - Monitoring
  /v2/monitoring/circuits/visualization:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2MonitoringCircuitsVisualizationPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2MonitoringCircuitsVisualizationPostResponse'
      tags:
      - Monitoring
components:
  schemas:
    v2MonitoringMacsecDeviceIdStatusGetResponseMaCsecStatus:
      type: object
      properties:
        interfaceName:
          type: string
          example: example string
        status:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v2MonitoringIpsecPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringIpsecPostResponseData'
      additionalProperties: false
    statsmonV2IpSecStatsSelector:
      type: object
      properties:
        peerGdi:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v2MonitoringCircuitsBandwidthPostResponseData:
      type: object
      properties:
        carrier:
          type: string
          example: example string
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        dlBwKbpsSamples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2CircuitBandwidthStatsSelector'
        ulBwKbpsSamples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
      additionalProperties: false
    v2MonitoringCircuitsUtilizationPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2CircuitUtilizationSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringExtranetSiteStatusGetResponse:
      type: object
      properties:
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/statsmonExtranetSiteStatus'
      additionalProperties: false
    v2MonitoringBgpPostResponseData:
      type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2BgpStatsSelector'
      additionalProperties: false
    v2MonitoringPolicyPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2PolicyStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringExtranetServiceStatusDetailsGetResponse:
      type: object
      properties:
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/statsmonExtranetSiteStatus'
      additionalProperties: false
    v2MonitoringInterfacePostResponseData:
      type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2InterfaceStatsSelector'
      additionalProperties: false
    v2MonitoringCircuitsUtilizationPostResponseData:
      type: object
      properties:
        configLinkUpSpeedMbps:
          type: integer
          format: int32
          example: 123
          minimum: 0
        queueUtilization:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2QueueUtilization'
        selector:
          $ref: '#/components/schemas/statsmonV2CircuitUtilizationSelector'
      additionalProperties: false
    v2MonitoringSegmentRouteCountsPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringSegmentRouteCountsPostResponseData'
      additionalProperties: false
    v2MonitoringSystemPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringSystemPostResponseData'
      additionalProperties: false
    v2MonitoringQueueInstantPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        isDelta:
          type: boolean
          example: true
        isTotal:
          type: boolean
          example: true
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2QueueInstantStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    statsmonV2InterfaceStatsSelector:
      type: object
      properties:
        interfaceName:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    statsmonV2QueueUtilization:
      type: object
      properties:
        allocatedPct:
          type: integer
          format: int32
          example: 123
          minimum: 0
        defaultQueue:
          type: boolean
          example: true
        excessWeight:
          type: integer
          format: int32
          example: 123
          minimum: 0
        slaClass:
          type: string
          example: ENUM_VALUE
        utilizationKbps:
          type: number
          format: float
          example: 12.34
        utilizationPct:
          type: number
          format: float
          example: 12.34
      additionalProperties: false
    statsmonV2CircuitBandwidthStatsSelector:
      type: object
      properties:
        circuitName:
          type: string
          example: example string
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
      additionalProperties: false
    v2MonitoringExtranetLogDetailsPostResponse:
      type: object
      properties:
        logs:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringExtranetLogDetailsPostResponseLogDetails'
      additionalProperties: false
    statsmonV2TwampVisualSelector:
      type: object
      properties:
        circuitName:
          type: string
          example: example string
        coreLocation:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    statsmonExtranetSiteStatus:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
          description: the id of the site
        name:
          type: string
          example: site1
          description: the name of the site
        status:
          type: string
          example: Healthy
          description: the status of the site (Healthy, Impaired, Down)
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/statsmonExtranetServerStatus'
      additionalProperties: false
    v2MonitoringSegmentRouteCountsPostRequest:
      type: object
      properties:
        deviceIds:
          type: array
          items:
            type: integer
            format: int64
            example: 12345678910
            minimum: 0
      additionalProperties: false
    v2MonitoringMacsecDeviceIdStatusGetResponse:
      type: object
      properties:
        macsecStatuses:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringMacsecDeviceIdStatusGetResponseMaCsecStatus'
      additionalProperties: false
    v2MonitoringIpsecPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2IpSecStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    statsmonV2PolicyStatsSelector:
      type: object
      properties:
        index:
          type: integer
          format: int32
          example: 123
          minimum: 0
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v2MonitoringBgpPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2BgpStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringCircuitsUtilizationPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringCircuitsUtilizationPostResponseData'
      additionalProperties: false
    statsmonExtranetServerStatus:
      type: object
      properties:
        address:
          type: string
          example: 192.168.1.1
          description: the IP address of the server
        status:
          type: string
          example: Healthy
          description: the health status of the server (Healthy, Impaired, Down)
      additionalProperties: false
    statsmonV2CircuitSummary:
      type: object
      properties:
        averageDelay:
          type: number
          format: float
          example: 12.34
          description: Average delay for this circuit in this time duration
        averageJitter:
          type: number
          format: float
          example: 12.34
          description: Average jitter for this circuit in this time duration
        averageLinkDownSpeedKbps:
          type: number
          format: float
          example: 12.34
        averageLinkUpSpeedKbps:
          type: number
          format: float
          example: 12.34
        averageLoss:
          type: number
          format: float
          example: 12.34
          description: Average loss for this circuit in this time duration
        avgMos:
          type: number
          format: float
          example: 12.34
          description: Graphiant avg score/QoE based on mos for the time duration
        circuitName:
          type: string
          example: example string
        configLinkDownSpeedMbps:
          type: integer
          format: int32
          example: 123
          minimum: 0
        configLinkUpSpeedMbps:
          type: integer
          format: int32
          example: 123
          minimum: 0
        connectionStatus:
          type: string
          example: ENUM_VALUE
        currentLinkDownSpeedKbps:
          type: number
          format: float
          example: 12.34
        currentLinkUpSpeedKbps:
          type: number
          format: float
          example: 12.34
        delay:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
          description: Delay in nano seconds
        jitter:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
          description: Jitter in nano seconds
        lastResort:
          type: boolean
          example: true
        loss:
          type: number
          format: float
          example: 12.34
          description: Loss in percentage
        maxDelay:
          type: number
          format: float
          example: 12.34
          description: Max delay for this circuit in this time duration
        maxJitter:
          type: number
          format: float
          example: 12.34
          description: Max jitter for this circuit in this time duration
        maxLoss:
          type: number
          format: float
          example: 12.34
          description: Max loss for this circuit in this time duration
        maxMos:
          type: number
          format: float
          example: 12.34
          description: Graphiant max score/QoE based on mos for the time duration
        minDelay:
          type: number
          format: float
          example: 12.34
          description: Min delay for this circuit in this time duration
        minJitter:
          type: number
          format: float
          example: 12.34
          description: Min jitter for this circuit in this time duration
        minLoss:
          type: number
          format: float
          example: 12.34
          description: Min loss for this circuit in this time duration
        minMos:
          type: number
          format: float
          example: 12.34
          description: Graphiant min score/QoE based on mos for the time duration
        mos:
          type: number
          format: float
          example: 12.34
          description: Graphiant score/QoE based on mos
      additionalProperties: false
    googleProtobufTimestamp:
      type: object
      properties:
        nanos:
          type: integer
          format: int32
          example: 123
        seconds:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    statsmonV2TwampStatsSelector:
      type: object
      properties:
        circuitName:
          type: string
          example: example string
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        interfaceName:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v2MonitoringIkeErrorHistoryPostResponseData:
      type: object
      properties:
        destinationAddress:
          type: string
          example: example string
        destinationPort:
          type: string
          example: example string
        errorType:
          type: string
          example: ENUM_VALUE
        message:
          type: string
          example: example string
        timestamp:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        tunnelName:
          type: string
          example: example string
      additionalProperties: false
    statsmonV2TimeWindow:
      type: object
      properties:
        bucketSizeSec:
          type: integer
          format: int32
          example: 123
          minimum: 0
        oldTs:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        recentTs:
          $ref: '#/components/schemas/googleProtobufTimestamp'
      additionalProperties: false
    v2MonitoringSystemPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2SystemStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringCircuitsBandwidthPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2CircuitBandwidthStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringPolicyPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringPolicyPostResponseData'
      additionalProperties: false
    v2MonitoringExtranetServiceStatusGetResponse:
      type: object
      properties:
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/statsmonExtranetServerStatus'
      additionalProperties: false
    v2MonitoringSiteCircuitsBandwidthSiteIdPostResponseData:
      type: object
      properties:
        dlBwKbpsSamples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2CircuitBandwidthStatsSelector'
        ulBwKbpsSamples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
      additionalProperties: false
    v2MonitoringQueueInstantPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringQueueInstantPostResponseData'
      additionalProperties: false
    statsmonV2BgpStatsSelector:
      type: object
      properties:
        peerAddress:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
        vrf:
          type: string
          example: example string
      additionalProperties: false
    v2MonitoringTwampPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringTwampPostResponseData'
      additionalProperties: false
    statsmonV2QueueInstantStatsSelector:
      type: object
      properties:
        interfaceName:
          type: string
          example: example string
        slaClass:
          type: string
          example: ENUM_VALUE
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v2MonitoringExtranetStatusDetailsGetResponse:
      type: object
      properties:
        edgeStatuses:
          type: array
          items:
            $ref: '#/components/schemas/statsmonExtranetEdgeStatus'
        location:
          type: string
          example: Location 1
          description: the location of the site
        region:
          type: string
          example: Region 1
          description: the region of the site
        siteStatus:
          $ref: '#/components/schemas/statsmonExtranetSiteStatus'
      additionalProperties: false
    v2MonitoringIkeErrorHistoryPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
        tunnelName:
          type: string
          example: example string
      additionalProperties: false
    v2MonitoringCircuitsBandwidthPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringCircuitsBandwidthPostResponseData'
      additionalProperties: false
    v2MonitoringSiteTwampSiteIdPostRequest:
      type: object
      properties:
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2TwampStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringQueueInstantPostResponseData:
      type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2QueueInstantStatsSelector'
      additionalProperties: false
    v2MonitoringSiteTwampSiteIdPostResponseData:
      type: object
      properties:
        carrier:
          type: string
          example: example string
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2TwampStatsSelector'
      additionalProperties: false
    v2MonitoringBfdPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringBfdPostResponseData'
      additionalProperties: false
    v2MonitoringPolicyPostResponseData:
      type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2PolicyStatsSelector'
      additionalProperties: false
    v2MonitoringIkeErrorHistoryPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringIkeErrorHistoryPostResponseData'
      additionalProperties: false
    statsmonV2BfdStatsSelector:
      type: object
      properties:
        ifIndex:
          type: integer
          format: int32
          example: 123
          minimum: 0
        peerAddress:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v2MonitoringTwampPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2TwampStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringSiteCircuitsBandwidthSiteIdPostRequest:
      type: object
      properties:
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2CircuitBandwidthStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringSiteCircuitsBandwidthSiteIdPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringSiteCircuitsBandwidthSiteIdPostResponseData'
      additionalProperties: false
    statsmonV2SystemStatsSelector:
      type: object
      properties:
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v2MonitoringExtranetLogDetailsPostRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
          description: the id associated with an entity - consumer_id for consumer, and service_id for the producer/service (required)
        isB2B:
          type: boolean
          example: true
          description: whether the entity is a b2b entity (true for b2b entity, false for local extranet entity) (required)
        isProvider:
          type: boolean
          example: true
          description: whether the entity is a provider or consumer (required)
      additionalProperties: false
      required:
      - id
      - isB2B
      - isProvider
    statsmonExtranetEdgeStatus:
      type: object
      properties:
        createdAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        disconnectedReason:
          type: string
          example: No route to the server
          description: the reason for the edge being disconnected
        hostname:
          type: string
          example: edge1
          description: the hostname of the edge
        id:
          type: integer
          format: int64
          example: 30000000001
          description: the id of the edge/device
        siteName:
          type: string
          example: site1
          description: the name of the site
        status:
          type: string
          example: Healthy
          description: the health status of the edge (Healthy, Impaired, Down)
      additionalProperties: false
    statsmonV2StatsSample:
      type: object
      properties:
        status:
          type: string
          example: ENUM_VALUE
        ts:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        value:
          type: number
          format: double
          example: 123.45
      additionalProperties: false
    v2MonitoringBgpPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringBgpPostResponseData'
      additionalProperties: false
    v2MonitoringCircuitsVisualizationPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2TwampVisualSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringBfdPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2BfdStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringCircuitsVisualizationPostResponseData:
      type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2TwampVisualSelector'
      additionalProperties: false
    v2MonitoringInterfacePostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringInterfacePostResponseData'
      additionalProperties: false
    v2MonitoringCircuitsSummaryPostResponse:
      type: object
      properties:
        circuitSummaries:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2CircuitSummary'
      additionalProperties: false
    v2MonitoringInterfacePostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2InterfaceStatsSelector'
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    statsmonV2CircuitUtilizationSelector:
      type: object
      properties:
        circuitName:
          type: string
          example: example string
      additionalProperties: false
    v2MonitoringSystemPostResponseData:
      type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2SystemStatsSelector'
      additionalProperties: false
    v2MonitoringIpsecPostResponseData:
      type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2IpSecStatsSelector'
      additionalProperties: false
    v2MonitoringBfdPostResponseData:
      type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2BfdStatsSelector'
      additionalProperties: false
    v2MonitoringCircuitsSummaryPostRequest:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        timeWindow:
          $ref: '#/components/schemas/statsmonV2TimeWindow'
      additionalProperties: false
    v2MonitoringExtranetEdgeStatusGetResponse:
      type: object
      properties:
        edgeStatuses:
          type: array
          items:
            $ref: '#/components/schemas/statsmonExtranetEdgeStatus'
      additionalProperties: false
    v2MonitoringExtranetLogDetailsPostResponseLogDetails:
      type: object
      properties:
        hostname:
          type: string
          example: hostname1
          description: the hostname of the log
        reason:
          type: string
          example: Reason 1
          description: the reason for the log
        serverAddress:
          type: string
          example: 192.168.1.1
          description: the address of the server
        siteName:
          type: string
          example: site1
          description: the name of the site
        ts:
          $ref: '#/components/schemas/googleProtobufTimestamp'
      additionalProperties: false
    v2MonitoringSegmentRouteCountsPostResponseData:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        ipv4RouteCount:
          $ref: '#/components/schemas/statsmonV2StatsSample'
        ipv6RouteCount:
          $ref: '#/components/schemas/statsmonV2StatsSample'
        segmentName:
          type: string
          example: example string
      additionalProperties: false
    v2MonitoringSiteTwampSiteIdPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringSiteTwampSiteIdPostResponseData'
      additionalProperties: false
    v2MonitoringCircuitsVisualizationPostResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/v2MonitoringCircuitsVisualizationPostResponseData'
        hostname:
          type: string
          example: example string
          description: hostname of the device.
      additionalProperties: false
    v2MonitoringTwampPostResponseData:
      type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/statsmonV2StatsSample'
        selector:
          $ref: '#/components/schemas/statsmonV2TwampStatsSelector'
      additionalProperties: false
  securitySchemes:
    jwtAuth:
      type: apiKey
      in: header
      name: authorization
      description: Use `Bearer <token>`
