openapi: 3.2.0
info:
  title: Graphiant Global API
  version: 1.0.0
  description: Graphiant API documentation.
servers:
- url: https://api.graphiant.com
security:
- jwtAuth: []
tags:
- name: Global
paths:
  /v1/global/config:
    patch:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalConfigPatchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalConfigPatchResponse'
      description: Update global objects for an enterprise
      tags:
      - Global
  /v1/global/apps/app-lists:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalAppsAppListsPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsAppListsPostResponse'
      description: Create an app list under the current enterprise
      tags:
      - Global
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsAppListsGetResponse'
      description: Get all app lists for the current enterprise
      tags:
      - Global
  /v1/global/apps/custom:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalAppsCustomPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsCustomPostResponse'
      description: Create a new global app under the current enterprise
      tags:
      - Global
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsCustomGetResponse'
      description: Get all global apps mapped by the current enterprise
      tags:
      - Global
  /v1/global/content-filters:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalContentFiltersPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalContentFiltersPostResponse'
      description: Configure a new content filter under the current enterprise
      tags:
      - Global
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalContentFiltersGetResponse'
      description: Get basic details for all content filter under the current enterprise
      tags:
      - Global
  /v1/global/lan-segments:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalLanSegmentsPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalLanSegmentsPostResponse'
      description: Create a new lan-segment scoped to the enterprise
      tags:
      - Global
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: filterExtranetProducers
        in: query
        description: ''
        required: false
        schema:
          type: boolean
          example: true
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalLanSegmentsGetResponse'
      description: Get a list of lan-segments under the currently logged in enterprise
      tags:
      - Global
  /v1/global/site-lists:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalSiteListsPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSiteListsPostResponse'
      description: Create a new site list scoped to the enterprise
      tags:
      - Global
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSiteListsGetResponse'
      description: Get a list of site lists under the currently logged in enterprise
      tags:
      - Global
  /v1/global/apps/app-lists/{appListId}:
    delete:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: appListId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsAppListsAppListIdDeleteResponse'
      description: Delete an app list under the current enterprise
      tags:
      - Global
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: appListId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsAppListsAppListIdGetResponse'
      description: Get the configuration for an app list under the current enterprise
      tags:
      - Global
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: appListId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalAppsAppListsAppListIdPutRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsAppListsAppListIdPutResponse'
      description: Overwrite the configuration for an app list under the current enterprise
      tags:
      - Global
  /v1/global/apps/custom/{appId}:
    delete:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: appId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsCustomAppIdDeleteResponse'
      description: Delete a global app under the current enterprise
      tags:
      - Global
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: appId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsCustomAppIdGetResponse'
      description: Get the configuration for a global app under the current enterprise
      tags:
      - Global
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: appId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalAppsCustomAppIdPutRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsCustomAppIdPutResponse'
      description: Overwrite the configuration for a global app under the current enterprise
      tags:
      - Global
  /v1/global/content-filters/{globalContentFilterId}:
    delete:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: globalContentFilterId
        in: path
        required: true
        description: ID of the global content filter to remove.
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalContentFiltersGlobalContentFilterIdDeleteResponse'
      description: Delete a content filter under the current enterprise
      tags:
      - Global
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: globalContentFilterId
        in: path
        required: true
        description: ID of the global content filter whose configuration should be returned.
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalContentFiltersGlobalContentFilterIdGetResponse'
      description: Get the config for a content filter under the current enterprise
      tags:
      - Global
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: globalContentFilterId
        in: path
        required: true
        description: ID of the global content filter to replace with the supplied configuration.
        schema:
          type: integer
          format: int64
          example: 1234567891011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalContentFiltersGlobalContentFilterIdPutRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalContentFiltersGlobalContentFilterIdPutResponse'
      description: Overwrite a pre-existing content filter under the current enterprise
      tags:
      - Global
  /v1/global/lan-segments/{id}:
    delete:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '204':
          description: No Content
      description: Delete a lan-segment
      tags:
      - Global
  /v1/global/site-lists/{id}:
    delete:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '204':
          description: No Content
      description: Delete a site list
      tags:
      - Global
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSiteListsIdGetResponse'
      description: Get a details of a site list
      tags:
      - Global
    put:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalSiteListsIdPutRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSiteListsIdPutResponse'
      description: Update a new site list scoped to the enterprise
      tags:
      - Global
  /v1/global/apps/categories:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsCategoriesGetResponse'
      description: Get all app categories holding Graphiant apps
      tags:
      - Global
  /v1/global/apps/custom/{appId}/details/app-lists:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: appId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsCustomAppIdDetailsAppListsGetResponse'
      description: Get all app lists that contain the relevant global app
      tags:
      - Global
  /v1/global/apps/app-list-options:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsAppListOptionsGetResponse'
      description: Gets all apps and categories assignable to an app list for the the current enterprise
      tags:
      - Global
  /v1/global/apps/categories/{categoryId}/apps:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: categoryId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsCategoriesCategoryIdAppsGetResponse'
      description: Get all Graphiant apps in an app category
      tags:
      - Global
  /v1/global/apps/app-lists/{appListId}/details/apps:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: appListId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsAppListsAppListIdDetailsAppsGetResponse'
      description: Get all apps that are members of the provided app list
      tags:
      - Global
  /v1/global/attached-edges:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalAttachedEdgesPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAttachedEdgesPostResponse'
      description: Returns attached edges for global object
      tags:
      - Global
  /v1/global/domain-categories:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalDomainCategoriesGetResponse'
      description: Get all domain categories from the DPI engine
      tags:
      - Global
  /v1/global/ipfix/device:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalIpfixDeviceGetResponse'
      description: Get global ipfix exporters objects that failed to attach for a device
      tags:
      - Global
  /v1/global/ntps/device:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalNtpsDeviceGetResponse'
      description: Get global ntp objects that failed to attach for a device
      tags:
      - Global
  /v1/global/snmps/device:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSnmpsDeviceGetResponse'
      description: Get global snmp objects that failed to attach for a device
      tags:
      - Global
  /v1/global/syslogs/device:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: deviceId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSyslogsDeviceGetResponse'
      description: Get global syslog objects that failed to attach for a device
      tags:
      - Global
  /v1/global/ipsec-profile/{id}:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalIpsecProfileIdGetResponse'
      description: Get details of the configured global IPsec Profiles
      tags:
      - Global
  /v1/global/ipsec-profile:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalIpsecProfileGetResponse'
      description: Get all the configured global IPsec Profiles for the current enterprise
      tags:
      - Global
  /v1/global/ipfix:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalIpfixPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalIpfixPostResponse'
      description: Get configured global ipfix exporters
      tags:
      - Global
  /v1/global/ipfix/site:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: siteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalIpfixSiteGetResponse'
      description: Get configured global ipfix exporters for a site
      tags:
      - Global
  /v1/global/ntps:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalNtpsPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalNtpsPostResponse'
      description: Get configured global ntps
      tags:
      - Global
  /v1/global/ntps/site:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: siteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalNtpsSiteGetResponse'
      description: Get configured global ntps
      tags:
      - Global
  /v1/global/device-status:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: ipfixExportedId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: ntpId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: prefixSetId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: routingPolicyId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: snmpId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: syslogServerId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: trafficPolicyId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalDeviceStatusGetResponse'
      description: Get status on global collector attached to devices
      tags:
      - Global
  /v1/global/site-status:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: ipfixExportedSiteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: ntpSiteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: prefixSetSiteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: routingPolicySiteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: snmpSiteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: syslogServerSiteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      - name: trafficPolicySiteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSiteStatusGetResponse'
      description: Get status on global objects attached to a site
      tags:
      - Global
  /v1/global/summary:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalSummaryPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSummaryPostResponse'
      description: Get summary on global objects
      tags:
      - Global
  /v1/global/prefix-sets:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalPrefixSetsPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalPrefixSetsPostResponse'
      description: Get configured global prefix-sets
      tags:
      - Global
  /v1/global/routing-policies:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalRoutingPoliciesPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalRoutingPoliciesPostResponse'
      description: Get configured global routing-policies
      tags:
      - Global
  /v1/global/snmps:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalSnmpsPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSnmpsPostResponse'
      description: Get configured global snmps
      tags:
      - Global
  /v1/global/snmps/site:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: siteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSnmpsSiteGetResponse'
      description: Get configured global snmps
      tags:
      - Global
  /v1/global/syslogs:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalSyslogsPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSyslogsPostResponse'
      description: Get configured global syslog collectors
      tags:
      - Global
  /v1/global/syslogs/site:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: siteId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSyslogsSiteGetResponse'
      description: Get configured global syslog collectors
      tags:
      - Global
  /v1/global/traffic-policies:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalTrafficPoliciesPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalTrafficPoliciesPostResponse'
      description: Get configured global traffic-policies
      tags:
      - Global
  /v1/global/apps/graphiant:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalAppsGraphiantGetResponse'
      description: Get all apps mapped by Graphiant
      tags:
      - Global
  /v1/global/lan-segments/{vrfId}/devices:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: vrfId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalLanSegmentsVrfIdDevicesGetResponse'
      description: Get a list of lan-segment devices under the currently logged in enterprise
      tags:
      - Global
  /v1/global/site-lists/{id}/sites:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSiteListsIdSitesGetResponse'
      description: Get a details of a site list sites
      tags:
      - Global
  /v1/global/ipsec-profile/{vpnProfileId}/site-to-site:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      - name: vpnProfileId
        in: path
        required: true
        description: ''
        schema:
          type: integer
          format: int64
          example: 1234567891011
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalIpsecProfileVpnProfileIdSiteToSiteGetResponse'
      description: Get Site-to-site VPNs that are using the given global IPsec Profile
      tags:
      - Global
  /v1/global/sync:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GlobalSyncPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GlobalSyncPostResponse'
      description: Tries synching device with the global objects
      tags:
      - Global
components:
  schemas:
    v1GlobalRoutingPoliciesPostRequest:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
      additionalProperties: false
    manaV2DomainCategory:
      type: object
      properties:
        description:
          type: string
          example: example string
          description: Optional longer text describing what sites or traffic belong in this category.
        id:
          type: integer
          format: int64
          example: 1234567891011
          description: Stable identifier for this domain category in the content-filter catalog.
        name:
          type: string
          example: example string
          description: Human-readable name of the domain category.
        type:
          type: string
          example: example string
          description: Optional category classifier or grouping hint from the catalog (e.g. vendor-specific type).
      additionalProperties: false
    manaV2NullableSyslogCollectorConfig:
      type: object
      properties:
        target:
          $ref: '#/components/schemas/manaV2SyslogCollectorConfig'
      additionalProperties: false
    manaV2SnmpConfig:
      type: object
      properties:
        communities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSnmpCommunityConfigValue'
        engineAuthenTraps:
          type: boolean
          example: true
        engineEnabled:
          type: boolean
          example: true
        engineEndpoints:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSnmpEngineEndpointConfigValue'
        engineHighCpuTraps:
          type: boolean
          example: true
        engineHighMemoryTraps:
          type: boolean
          example: true
        engineIdAdminOctets:
          type: string
          example: example string
        engineIdAdminText:
          type: string
          example: example string
        engineIdIpv4:
          type: string
          example: example string
        engineIdIpv6:
          type: string
          example: example string
        engineIdMac:
          type: string
          example: example string
        engineIdRaw:
          type: string
          example: example string
        engineLocalAcessV4:
          type: boolean
          example: true
        engineLocalAcessV6:
          type: boolean
          example: true
        engineUserHints:
          type: boolean
          example: true
        engineUserValidation:
          type: boolean
          example: true
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        isGlobalSync:
          type: boolean
          example: true
        name:
          type: string
          example: example string
        notifyFilterProfiles:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSnmpNotifyFilterProfileConfigValue'
        snmpVersion:
          type: string
          example: ENUM_VALUE
        targets:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSnmpTargetConfigValue'
        usmLocalUsers:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableUsmLocalUserConfigValue'
        usmRemoteUsers:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableUsmRemoteUserConfigValue'
        v2cEnabled:
          type: boolean
          example: true
        v3Enabled:
          type: boolean
          example: true
        vacmGroups:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableVacmGroupValue'
        vacmViews:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSnmpVacmViewValue'
      additionalProperties: false
    v1GlobalSiteListsPostResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        status:
          type: string
          example: example string
      additionalProperties: false
    v1GlobalNtpsPostResponse:
      type: object
      properties:
        ntps:
          type: array
          items:
            $ref: '#/components/schemas/manaV2Ntp'
      additionalProperties: false
    v1GlobalTrafficPoliciesPostRequest:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
      additionalProperties: false
    manaV2NullableNtpConfig:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/manaV2NtpConfig'
      additionalProperties: false
    v1GlobalAppsCustomPostRequest:
      type: object
      properties:
        appConfig:
          $ref: '#/components/schemas/manaV2GlobalAppConfig'
      additionalProperties: false
    v1GlobalAppsCustomAppIdPutResponse:
      type: object
      properties: {}
      additionalProperties: false
    manaV2RoutingPolicyConfigNullableStatementStatementNullableActionAction:
      type: object
      properties:
        administrativeDistance:
          $ref: '#/components/schemas/manaV2NullableAdministrativeDistance'
        aspathPrepend:
          $ref: '#/components/schemas/manaV2NullableAsPathPrepend'
        bgpSetNextHop:
          $ref: '#/components/schemas/manaV2NullableBgpSetNextHop'
        callPolicy:
          $ref: '#/components/schemas/manaV2NullableCallPolicy'
        communities:
          $ref: '#/components/schemas/manaV2NullableCommunities'
        localPref:
          $ref: '#/components/schemas/manaV2NullableLocalPreferance'
        metric:
          $ref: '#/components/schemas/manaV2NullableMetric'
        result:
          type: string
          example: ENUM_VALUE
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
        weight:
          $ref: '#/components/schemas/manaV2NullableWeight'
      additionalProperties: false
    manaV2RoutingPolicyConfigNullableStatementStatementNullableMatchMatch:
      type: object
      properties:
        community:
          $ref: '#/components/schemas/manaV2NullableCommunity'
        prefixSet:
          $ref: '#/components/schemas/manaV2NullablePrefixSet'
        protocolRouteType:
          $ref: '#/components/schemas/manaV2NullableProtocolRouteType'
        routeTag:
          $ref: '#/components/schemas/manaV2NullableRouteTagSet'
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sourceInterface:
          $ref: '#/components/schemas/manaV2NullableInterfaceName'
        sourceProtocol:
          $ref: '#/components/schemas/manaV2NullableRoutingProtocol'
        stale:
          $ref: '#/components/schemas/manaV2NullableStalePurge'
      additionalProperties: false
    v1GlobalNtpsDeviceGetResponse:
      type: object
      properties:
        ntps:
          type: array
          items:
            $ref: '#/components/schemas/manaV2Ntp'
      additionalProperties: false
    manaV2NullableIpProtocol:
      type: object
      properties:
        ipProtocol:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2EnterprisePrefixSetData:
      type: object
      properties:
        description:
          type: string
          example: example string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/manaV2EnterprisePrefixSetDataEntry'
        mode:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2TrafficPolicyRuleset:
      type: object
      properties:
        description:
          type: string
          example: example string
        errorMessage:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        id:
          type: integer
          format: int64
          example: 1234567891011
        index:
          type: integer
          format: int32
          example: 123
          minimum: 0
        name:
          type: string
          example: example string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/manaV2TrafficPolicyRulesetRule'
        status:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2NullableMetric:
      type: object
      properties:
        absolute:
          type: integer
          format: int32
          example: 123
          minimum: 0
        modifier:
          type: integer
          format: int32
          example: 123
      additionalProperties: false
    v1GlobalDomainCategoriesGetResponse:
      type: object
      properties:
        domainCategories:
          type: array
          items:
            $ref: '#/components/schemas/manaV2DomainCategory'
      additionalProperties: false
    manaV2RouteTagId:
      type: object
      properties:
        levelOne:
          type: integer
          format: int64
          example: 1234567891011
        levelTwo:
          type: integer
          format: int64
          example: 1234567891011
        levelZero:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2RouteTag:
      type: object
      properties:
        levelOne:
          type: string
          example: example string
        levelTwo:
          type: string
          example: example string
        levelZero:
          type: string
          example: example string
      additionalProperties: false
    v1GlobalAppsAppListsAppListIdGetResponse:
      type: object
      properties:
        appListConfig:
          $ref: '#/components/schemas/manaV2AppListConfig'
      additionalProperties: false
    manaV2NullableSecurityZonePairConfig:
      type: object
      properties:
        pair:
          $ref: '#/components/schemas/manaV2SecurityZonePairConfig'
      additionalProperties: false
    googleProtobufTimestamp:
      type: object
      properties:
        nanos:
          type: integer
          format: int32
          example: 123
        seconds:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2PrefixSetConfigNullableEntry:
      type: object
      properties:
        entry:
          $ref: '#/components/schemas/manaV2PrefixSetConfigNullableEntryEntry'
      additionalProperties: false
    manaV2SecurityPolicyRuleset:
      type: object
      properties:
        description:
          type: string
          example: example string
        errorMessage:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        id:
          type: integer
          format: int64
          example: 1234567891011
        index:
          type: integer
          format: int32
          example: 123
          minimum: 0
        name:
          type: string
          example: example string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SecurityPolicyRulesetRule'
        status:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2NullableIpNetworkListConfig:
      type: object
      properties:
        list:
          $ref: '#/components/schemas/manaV2IpNetworkListConfig'
      additionalProperties: false
    manaV2NullableContentFilterMatchConfig:
      type: object
      properties:
        match:
          $ref: '#/components/schemas/manaV2ContentFilterMatchConfig'
      additionalProperties: false
    manaV2SnmpVacmGroupMemberConfig:
      type: object
      properties:
        community:
          type: string
          example: example string
        securityModel:
          type: string
          example: ENUM_VALUE
        securityName:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v1GlobalLanSegmentsGetResponseEntry:
      type: object
      properties:
        associatedInterfaces:
          type: integer
          format: int32
          example: 123
        createdAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        description:
          type: string
          example: example string
        edgeReferences:
          type: integer
          format: int32
          example: 123
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        siteListReferences:
          type: integer
          format: int32
          example: 123
      additionalProperties: false
    manaV2GlobalObjectDeviceStatus:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 1234567891011
        errorMessage:
          type: string
          example: example string
        hostname:
          type: string
          example: example string
        internalState:
          type: string
          example: ENUM_VALUE
        siteName:
          type: string
          example: example string
        status:
          type: string
          example: ENUM_VALUE
        statusSince:
          $ref: '#/components/schemas/googleProtobufTimestamp'
      additionalProperties: false
    v1GlobalAppsCustomAppIdGetResponse:
      type: object
      properties:
        appConfig:
          $ref: '#/components/schemas/manaV2GlobalAppConfig'
      additionalProperties: false
    v1GlobalAppsCustomPostResponse:
      type: object
      properties:
        appIdentifier:
          $ref: '#/components/schemas/manaV2AppIdentifier'
      additionalProperties: false
    manaV2ApplicationMatchConfig:
      type: object
      properties:
        builtin:
          type: string
          example: example string
        custom:
          type: string
          example: example string
      additionalProperties: false
    manaV2NullableApplicationMatchConfig:
      type: object
      properties:
        match:
          $ref: '#/components/schemas/manaV2ApplicationMatchConfig'
      additionalProperties: false
    manaV2IPsecProfile:
      type: object
      properties:
        antiReplayWindowSize:
          type: integer
          format: int32
          example: 123
          minimum: 0
        dpdInterval:
          type: integer
          format: int32
          example: 123
          minimum: 0
        esn:
          type: boolean
          example: true
        id:
          type: integer
          format: int64
          example: 1234567891011
        ikeDhGroup:
          type: string
          example: ENUM_VALUE
        ikeEncryptionAlg:
          type: string
          example: ENUM_VALUE
        ikeIntegrity:
          type: string
          example: ENUM_VALUE
        ipsecEncryptionAlg:
          type: string
          example: ENUM_VALUE
        ipsecIntegrity:
          type: string
          example: ENUM_VALUE
        name:
          type: string
          example: example string
        perfectForwardSecrecy:
          type: string
          example: ENUM_VALUE
        reauthInterval:
          type: integer
          format: int32
          example: 123
          minimum: 0
        rekeyInterval:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    v1GlobalAppsAppListsPostRequest:
      type: object
      properties:
        appListConfig:
          $ref: '#/components/schemas/manaV2AppListConfig'
      additionalProperties: false
    v1GlobalSiteListsIdGetResponse:
      type: object
      properties:
        description:
          type: string
          example: example string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SiteListEntry'
      additionalProperties: false
    manaV2NullableRoutingProtocol:
      type: object
      properties:
        protocol:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2DpiCustomApplication:
      type: object
      properties:
        description:
          type: string
          example: example string
        destinationNetwork:
          type: string
          example: example string
        destinationNetworkList:
          type: string
          example: example string
        destinationPort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        destinationPortList:
          type: string
          example: example string
        id:
          type: integer
          format: int64
          example: 1234567891011
        ipProtocol:
          type: string
          example: ENUM_VALUE
        name:
          type: string
          example: example string
        sourceNetwork:
          type: string
          example: example string
        sourceNetworkList:
          type: string
          example: example string
        sourcePort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sourcePortList:
          type: string
          example: example string
      additionalProperties: false
    manaV2TrafficPolicyRulesetConfigNullableRuleRuleAction:
      type: object
      properties:
        backupCircuit:
          $ref: '#/components/schemas/manaV2NullableSetCircuitConfig'
        backupCircuitLabel:
          $ref: '#/components/schemas/manaV2NullableSetCircuitLabelConfig'
        egress:
          type: string
          example: ENUM_VALUE
        logging:
          type: boolean
          example: true
        primaryCircuit:
          $ref: '#/components/schemas/manaV2NullableSetCircuitConfig'
        primaryCircuitLabel:
          $ref: '#/components/schemas/manaV2NullableSetCircuitLabelConfig'
        remark:
          $ref: '#/components/schemas/manaV2NullableSetDscpConfig'
        setSlaClass:
          $ref: '#/components/schemas/manaV2NullableSetSlaClassConfig'
      additionalProperties: false
    manaV2AppIdentifier:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v1GlobalPrefixSetsPostRequest:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
      additionalProperties: false
    v1GlobalIpfixSiteGetResponse:
      type: object
      properties:
        exporters:
          type: array
          items:
            $ref: '#/components/schemas/manaV2IpfixExporter'
      additionalProperties: false
    manaV2NullableSetSlaClassConfig:
      type: object
      properties:
        class:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2NullableUsmLocalUserConfigValue:
      type: object
      properties:
        localUser:
          $ref: '#/components/schemas/manaV2SnmpUsmLocalUserConfig'
      additionalProperties: false
    manaV2VacmGroupConfig:
      type: object
      properties:
        accesses:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSnmpVacmGroupAccessValue'
        members:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSnmpVacmGroupMemberValue'
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2NullableWeight:
      type: object
      properties:
        weight:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2NullableDpiApplicationConfig:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/manaV2DpiApplicationConfig'
      additionalProperties: false
    v1GlobalIpsecProfileVpnProfileIdSiteToSiteGetResponseSiteToSiteVpn:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        type:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2SecurityPolicyRulesetConfigNullableRuleRule:
      type: object
      properties:
        action:
          type: string
          example: ENUM_VALUE
        description:
          type: string
          example: example string
        downlinkBurstRate:
          $ref: '#/components/schemas/manaV2NullableMeterRates'
        downlinkPolicerRate:
          $ref: '#/components/schemas/manaV2NullableMeterRates'
        logging:
          type: boolean
          example: true
        match:
          $ref: '#/components/schemas/manaV2ForwardingPolicyMatchConfig'
        name:
          type: string
          example: example string
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
        uplinkBurstRate:
          $ref: '#/components/schemas/manaV2NullableMeterRates'
        uplinkPolicerRate:
          $ref: '#/components/schemas/manaV2NullableMeterRates'
      additionalProperties: false
    manaV2SecurityZoneConfig:
      type: object
      properties:
        inside:
          type: string
          example: example string
        pairs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSecurityZonePairConfig'
      additionalProperties: false
    v1GlobalAppsAppListsAppListIdDetailsAppsGetResponse:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/manaV2App'
      additionalProperties: false
    manaV2NullableDomainListMatchConfig:
      type: object
      properties:
        match:
          $ref: '#/components/schemas/manaV2DomainListMatchConfig'
      additionalProperties: false
    v1GlobalNtpsSiteGetResponse:
      type: object
      properties:
        ntps:
          type: array
          items:
            $ref: '#/components/schemas/manaV2Ntp'
      additionalProperties: false
    manaV2PrefixSetConfig:
      type: object
      properties:
        description:
          type: string
          example: example string
        entries:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2PrefixSetConfigNullableEntry'
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        isGlobalSync:
          type: boolean
          example: true
        mode:
          type: string
          example: ENUM_VALUE
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2NullableSnmpConfig:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/manaV2SnmpConfig'
      additionalProperties: false
    v1GlobalIpfixPostResponse:
      type: object
      properties:
        exporters:
          type: array
          items:
            $ref: '#/components/schemas/manaV2IpfixExporter'
      additionalProperties: false
    v1GlobalLanSegmentsVrfIdDevicesGetResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/v1GlobalLanSegmentsVrfIdDevicesGetResponseEntry'
        status:
          type: string
          example: example string
      additionalProperties: false
    manaV2SnmpUsmRemoteUserConfig:
      type: object
      properties:
        authLocKey:
          type: string
          example: example string
        authProtocol:
          type: string
          example: ENUM_VALUE
        encryptionLocKey:
          type: string
          example: example string
        encryptionProtocol:
          type: string
          example: ENUM_VALUE
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2NullableCommunity:
      type: object
      properties:
        community:
          $ref: '#/components/schemas/manaV2CommunityContainer'
      additionalProperties: false
    manaV2SnmpVacmViewIncludeConfig:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
      additionalProperties: false
    manaV2CommunityContainer:
      type: object
      properties:
        community:
          type: array
          items:
            type: string
            example: example string
      additionalProperties: false
    manaV2PrefixSetEntry:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        ipPrefix:
          type: string
          example: example string
        maskLower:
          type: integer
          format: int32
          example: 123
          minimum: 0
        maskUpper:
          type: integer
          format: int32
          example: 123
          minimum: 0
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    v1GlobalAppsCategoriesGetResponseEntry:
      type: object
      properties:
        appCount:
          type: integer
          format: int32
          example: 123
        category:
          $ref: '#/components/schemas/manaV2App'
      additionalProperties: false
    manaV2Ntp:
      type: object
      properties:
        domains:
          type: array
          items:
            type: string
            example: example string
        errorMessage:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        status:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v1GlobalAppsAppListsGetResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/v1GlobalAppsAppListsGetResponseEntry'
      additionalProperties: false
    manaV2RoutingPolicyConfig:
      type: object
      properties:
        attachPoint:
          type: string
          example: ENUM_VALUE
        defaultAction:
          type: string
          example: ENUM_VALUE
        description:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        isGlobalSync:
          type: boolean
          example: true
        name:
          type: string
          example: example string
        statements:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2RoutingPolicyConfigNullableStatement'
      additionalProperties: false
    manaV2RoutingPolicy:
      type: object
      properties:
        attachPoint:
          type: string
          example: ENUM_VALUE
        defaultAction:
          type: string
          example: ENUM_VALUE
        description:
          type: string
          example: example string
        errorMessage:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        statements:
          type: array
          items:
            $ref: '#/components/schemas/manaV2RoutingPolicyStatement'
        status:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2NullableStalePurge:
      type: object
      properties:
        stale:
          type: boolean
          example: true
      additionalProperties: false
    v1GlobalAppsCustomAppIdDetailsAppListsGetResponse:
      type: object
      properties:
        appLists:
          type: array
          items:
            $ref: '#/components/schemas/manaV2App'
      additionalProperties: false
    v1GlobalAppsAppListOptionsGetResponse:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/manaV2App'
      additionalProperties: false
    v1GlobalSyncPostRequest:
      type: object
      properties:
        deviceIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
        ipfixExportedId:
          type: integer
          format: int64
          example: 1234567891011
        ntpId:
          type: integer
          format: int64
          example: 1234567891011
        prefixSetId:
          type: integer
          format: int64
          example: 1234567891011
        routingPolicyId:
          type: integer
          format: int64
          example: 1234567891011
        snmpId:
          type: integer
          format: int64
          example: 1234567891011
        syslogServerId:
          type: integer
          format: int64
          example: 1234567891011
        trafficPolicyId:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2NullableSessionLimit:
      type: object
      properties:
        limit:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2NullableSetCircuitLabelConfig:
      type: object
      properties:
        ipsecLabel:
          type: string
          example: ENUM_VALUE
        label:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2AppListConfig:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/manaV2AppIdentifier'
        description:
          type: string
          example: example string
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2SnmpEngineEndpoint:
      type: object
      properties:
        addresses:
          type: array
          items:
            type: string
            example: example string
        autoIpv4:
          type: boolean
          example: true
        autoIpv6:
          type: boolean
          example: true
        id:
          type: integer
          format: int64
          example: 1234567891011
        interfaceName:
          type: string
          example: example string
        lanSegment:
          type: string
          example: example string
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2ZoneFirewallIpPolicyConfig:
      type: object
      properties:
        blockLandAttacks:
          type: boolean
          example: true
        sessionLimit:
          $ref: '#/components/schemas/manaV2NullableSessionLimit'
        urpf:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v1GlobalSyslogsSiteGetResponse:
      type: object
      properties:
        collectors:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SyslogCollector'
      additionalProperties: false
    manaV2IpNetworkList:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        networks:
          type: array
          items:
            type: string
            example: example string
      additionalProperties: false
    manaV2ContentFilterMatchConfig:
      type: object
      properties:
        domainCategoryIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
      additionalProperties: false
    v1GlobalIpsecProfileVpnProfileIdSiteToSiteGetResponse:
      type: object
      properties:
        siteToSiteVpn:
          type: array
          items:
            $ref: '#/components/schemas/v1GlobalIpsecProfileVpnProfileIdSiteToSiteGetResponseSiteToSiteVpn'
      additionalProperties: false
    manaV2RoutingPolicyConfigNullableStatement:
      type: object
      properties:
        statement:
          $ref: '#/components/schemas/manaV2RoutingPolicyConfigNullableStatementStatement'
      additionalProperties: false
    manaV2TrafficPolicyRulesetRule:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/manaV2TrafficPolicyRulesetRuleAction'
        description:
          type: string
          example: example string
        id:
          type: integer
          format: int64
          example: 1234567891011
        index:
          type: integer
          format: int32
          example: 123
          minimum: 0
        match:
          $ref: '#/components/schemas/manaV2ForwardingPolicyMatch'
        name:
          type: string
          example: example string
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2NullableLocalPreferance:
      type: object
      properties:
        localPref:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    v1GlobalSiteListsIdPutRequest:
      type: object
      properties:
        description:
          type: string
          example: example string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SiteListEntry'
      additionalProperties: false
    manaV2App:
      type: object
      properties:
        description:
          type: string
          example: example string
        identifier:
          $ref: '#/components/schemas/manaV2AppIdentifier'
        name:
          type: string
          example: example string
      additionalProperties: false
    v1GlobalLanSegmentsPostRequest:
      type: object
      properties:
        description:
          type: string
          example: example string
        name:
          type: string
          example: example string
      additionalProperties: false
    v1GlobalSiteListsIdPutResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        status:
          type: string
          example: example string
      additionalProperties: false
    v1GlobalContentFiltersGlobalContentFilterIdGetResponse:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/manaV2GlobalContentFilterConfig'
      additionalProperties: false
    v1GlobalIpfixDeviceGetResponse:
      type: object
      properties:
        exporters:
          type: array
          items:
            $ref: '#/components/schemas/manaV2IpfixExporter'
      additionalProperties: false
    v1GlobalConfigPatchResponse:
      type: object
      properties:
        globalPrefixSets:
          type: object
          additionalProperties:
            type: integer
            format: int64
            example: 1234567891011
        ipfixExporters:
          type: object
          additionalProperties:
            type: integer
            format: int64
            example: 1234567891011
        ntps:
          type: object
          additionalProperties:
            type: integer
            format: int64
            example: 1234567891011
        prefixSets:
          type: object
          additionalProperties:
            type: integer
            format: int64
            example: 1234567891011
        routingPolicies:
          type: object
          additionalProperties:
            type: integer
            format: int64
            example: 1234567891011
        snmps:
          type: object
          additionalProperties:
            type: integer
            format: int64
            example: 1234567891011
        status:
          type: string
          example: example string
        syslogServers:
          type: object
          additionalProperties:
            type: integer
            format: int64
            example: 1234567891011
        trafficPolicies:
          type: object
          additionalProperties:
            type: integer
            format: int64
            example: 1234567891011
        vpnProfiles:
          type: object
          additionalProperties:
            type: integer
            format: int64
            example: 1234567891011
      additionalProperties: false
    v1GlobalLanSegmentsVrfIdDevicesGetResponseEntry:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 1234567891011
        hostName:
          type: string
          example: example string
        numInterfaces:
          type: integer
          format: int32
          example: 123
        site:
          type: integer
          format: int64
          example: 1234567891011
        status:
          type: boolean
          example: true
      additionalProperties: false
    manaV2ForwardingPolicyConfig:
      type: object
      properties:
        dpiApplications:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableDpiApplicationConfig'
        networkLists:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableIpNetworkListConfig'
        portLists:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableL4PortListConfig'
        securityRulesets:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSecurityPolicyRulesetConfig'
        trafficRulesets:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableTrafficPolicyRulesetConfig'
        zoneFirewalls:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableZoneFirewallConfig'
        zones:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2NullableSecurityZoneConfig'
      additionalProperties: false
    manaV2SnmpVacmViewInclude:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        include:
          type: boolean
          example: true
        name:
          type: string
          example: example string
      additionalProperties: false
    v1GlobalAttachedEdgesPostResponse:
      type: object
      properties:
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/manaV2GlobalObjectDeviceStatus'
      additionalProperties: false
    manaV2RoutingPolicyConfigNullableStatementStatement:
      type: object
      properties:
        actions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2RoutingPolicyConfigNullableStatementStatementNullableAction'
        matches:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2RoutingPolicyConfigNullableStatementStatementNullableMatch'
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    v1GlobalContentFiltersGetResponseRow:
      type: object
      properties:
        createdAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        globalContentFilterId:
          type: integer
          format: int64
          example: 1234567891011
          description: ID for the global content filter.
        globalContentFilterName:
          type: string
          example: example string
          description: Given name of this global content filter.
        lans:
          type: array
          items:
            $ref: '#/components/schemas/v1GlobalContentFiltersGetResponseRowLanEntry'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/v1GlobalContentFiltersGetResponseRowRuleEntry'
        sites:
          type: array
          items:
            $ref: '#/components/schemas/v1GlobalContentFiltersGetResponseRowSiteEntry'
        updatedAt:
          $ref: '#/components/schemas/googleProtobufTimestamp'
      additionalProperties: false
    manaV2NullableSnmpCommunityConfigValue:
      type: object
      properties:
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2IpfixExporterConfig:
      type: object
      properties:
        destinationAddress:
          type: string
          example: example string
        destinationPort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        isGlobalSync:
          type: boolean
          example: true
        monitoredSegments:
          type: array
          items:
            type: string
            example: example string
        name:
          type: string
          example: example string
        sampleMode:
          type: string
          example: ENUM_VALUE
        sampleRate:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sourceInterfaceName:
          type: string
          example: example string
        vrfId:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    manaV2SnmpVacmViewConfig:
      type: object
      properties:
        includeExcludeList:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2SnmpVacmViewIncludeConfig'
        name:
          type: string
          example: example string
      additionalProperties: false
    v1GlobalAppsGraphiantGetResponseEntry:
      type: object
      properties:
        app:
          $ref: '#/components/schemas/manaV2App'
        appListReferenceCount:
          type: integer
          format: int32
          example: 123
        policyReferenceCount:
          type: integer
          format: int32
          example: 123
      additionalProperties: false
    v1GlobalSiteListsIdSitesGetResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SiteListSiteEntry'
      additionalProperties: false
    v1GlobalAttachedEdgesPostRequest:
      type: object
      properties:
        ipfixExportedIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
        ntpIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
        prefixSetIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
        routingPolicyIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
        snmpIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
        syslogServerIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
        trafficPolicyIds:
          type: array
          items:
            type: integer
            format: int64
            example: 1234567891011
      additionalProperties: false
    manaV2ZoneFirewallConfig:
      type: object
      properties:
        ip:
          $ref: '#/components/schemas/manaV2ZoneFirewallIpPolicyConfig'
        udp:
          $ref: '#/components/schemas/manaV2ZoneFirewallUdpPolicyConfig'
      additionalProperties: false
    v1GlobalAppsCategoriesGetResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/v1GlobalAppsCategoriesGetResponseEntry'
      additionalProperties: false
    manaV2GlobalAppPortRange:
      type: object
      properties:
        lower:
          type: integer
          format: int32
          example: 123
          minimum: 0
        upper:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2RoutingPolicyStatementMatch:
      type: object
      properties:
        community:
          type: array
          items:
            type: string
            example: example string
        id:
          type: integer
          format: int64
          example: 1234567891011
        prefixSet:
          type: string
          example: example string
        protocolRouteType:
          type: string
          example: ENUM_VALUE
        routeTag:
          $ref: '#/components/schemas/manaV2RouteTag'
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sourceInterface:
          type: string
          example: example string
        sourceProtocol:
          type: string
          example: ENUM_VALUE
        stalePurge:
          type: boolean
          example: true
      additionalProperties: false
    v1GlobalRoutingPoliciesPostResponse:
      type: object
      properties:
        routingPolicies:
          type: array
          items:
            $ref: '#/components/schemas/manaV2RoutingPolicy'
      additionalProperties: false
    manaV2ForwardingPolicyMatchConfig:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/manaV2NullableApplicationMatchConfig'
        contentFilter:
          $ref: '#/components/schemas/manaV2NullableContentFilterMatchConfig'
        destinationNetwork:
          $ref: '#/components/schemas/manaV2NullableDestinationNetworkMatchConfig'
        destinationPort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        destinationPortRange:
          $ref: '#/components/schemas/manaV2PortRangeConfig'
        domainList:
          $ref: '#/components/schemas/manaV2NullableDomainListMatchConfig'
        dscp:
          $ref: '#/components/schemas/manaV2NullableDscpMatchConfig'
        icmpType:
          type: integer
          format: int32
          example: 123
          minimum: 0
        ipProtocol:
          type: string
          example: ENUM_VALUE
        protocol:
          $ref: '#/components/schemas/manaV2NullableIpProtocol'
        sourceNetwork:
          $ref: '#/components/schemas/manaV2NullableSourceNetworkMatchConfig'
        sourcePort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        sourcePortRange:
          $ref: '#/components/schemas/manaV2PortRangeConfig'
      additionalProperties: false
    v1GlobalSnmpsPostResponse:
      type: object
      properties:
        snmps:
          type: array
          items:
            $ref: '#/components/schemas/manaV2Snmp'
      additionalProperties: false
    manaV2TrafficPolicyRulesetRuleAction:
      type: object
      properties:
        backupCircuit:
          type: string
          example: example string
        backupCircuitLabel:
          type: string
          example: example string
        egress:
          type: string
          example: ENUM_VALUE
        logging:
          type: boolean
          example: true
        primaryCircuit:
          type: string
          example: example string
        primaryCircuitLabel:
          type: string
          example: example string
        remark:
          $ref: '#/components/schemas/manaV2Dscp'
        slaClass:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2SnmpUsmLocalUserConfig:
      type: object
      properties:
        authPassphrase:
          type: string
          example: example string
        authProtocol:
          type: string
          example: ENUM_VALUE
        encryptionPassphrase:
          type: string
          example: example string
        encryptionProtocol:
          type: string
          example: ENUM_VALUE
        name:
          type: string
          example: example string
      additionalProperties: false
    manaV2SecurityPolicyRulesetConfig:
      type: object
      properties:
        description:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        isGlobalSync:
          type: boolean
          example: true
        name:
          type: string
          example: example string
        rules:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2SecurityPolicyRulesetConfigNullableRule'
      additionalProperties: false
    manaV2NullablePrefixSetConfig:
      type: object
      properties:
        prefixSet:
          $ref: '#/components/schemas/manaV2PrefixSetConfig'
      additionalProperties: false
    manaV2NullableSetDscpConfig:
      type: object
      properties:
        val:
          $ref: '#/components/schemas/manaV2Dscp'
      additionalProperties: false
    manaV2TrafficPolicyRulesetConfigNullableRuleRule:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/manaV2TrafficPolicyRulesetConfigNullableRuleRuleAction'
        description:
          type: string
          example: example string
        match:
          $ref: '#/components/schemas/manaV2ForwardingPolicyMatchConfig'
        name:
          type: string
          example: example string
        seq:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2NullableDestinationNetworkMatchConfig:
      type: object
      properties:
        destinationNetwork:
          type: string
          example: example string
      additionalProperties: false
    manaV2NullableAsPathPrepend:
      type: object
      properties:
        repeat:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2PortRange:
      type: object
      properties:
        lower:
          type: integer
          format: int32
          example: 123
          minimum: 0
        upper:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2RoutingPolicyConfigNullableStatementStatementNullableMatch:
      type: object
      properties:
        match:
          $ref: '#/components/schemas/manaV2RoutingPolicyConfigNullableStatementStatementNullableMatchMatch'
      additionalProperties: false
    manaV2NullableRoutingPolicyConfig:
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/manaV2RoutingPolicyConfig'
      additionalProperties: false
    v1GlobalLanSegmentsGetResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/v1GlobalLanSegmentsGetResponseEntry'
      additionalProperties: false
    manaV2TrafficPolicyRulesetConfig:
      type: object
      properties:
        description:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        isGlobalSync:
          type: boolean
          example: true
        name:
          type: string
          example: example string
        rules:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/manaV2TrafficPolicyRulesetConfigNullableRule'
      additionalProperties: false
    manaV2DomainListMatchConfig:
      type: object
      properties:
        domainWildcards:
          type: array
          items:
            type: string
            example: example string
            description: List of wildcard strings each representing a selection of domains to apply the policy action on
      additionalProperties: false
    manaV2NullableAdministrativeDistance:
      type: object
      properties:
        distance:
          type: integer
          format: int32
          example: 123
          minimum: 0
      additionalProperties: false
    manaV2IpfixExporter:
      type: object
      properties:
        destinationAddress:
          type: string
          example: example string
        destinationPort:
          type: integer
          format: int32
          example: 123
          minimum: 0
        errorMessage:
          type: string
          example: example string
        globalId:
          type: integer
          format: int64
          example: 1234567891011
        id:
          type: integer
          format: int64
          example: 1234567891011
        monitoredSegments:
          type: array
          items:
            type: string
            example: example string
        name:
          type: string
          example: example string
        sampleMode:
          type: string
          example: example string
        sampleRate:
          type: integer
          format: int64
          example: 1234567891011
        sourceAddress:
          type: string
          example: example string
        sourceInterface:
          type: string
          example: example string
        sourceSegment:
          type: string
          example: example string
        status:
          type: string
          example: ENUM_VALUE
        vrfId:
          type: integer
          format: int64
          example: 1234567891011
        vrfName:
          type: string
          example: example string
      additionalProperties: false
    manaV2SnmpVacmGroup:
      type: object
      properties:
        accesses:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SnmpVacmGroupAccess'
        groupMembers:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SnmpVacmGroupMember'
        id:
          type: integer
          format: int64
          example: 1234567891011
        name:
          type: string
          example: example string
        views:
          type: array
          items:
            $ref: '#/components/schemas/manaV2SnmpVacmView'
      additionalProperties: false
    manaV2EnterprisePrefixSetDataEntry:
      type: object
      properties:
        ipPrefix:
          type: string
          example: example string
        maskLower:
          type: integer
          format: int32
          example: 123
          minimum: 0
        maskUpper:
[...]
