openapi: 3.2.0
info:
  title: Graphiant Device Status API
  version: 1.0.0
  description: Graphiant API documentation.
servers:
- url: https://api.graphiant.com
security:
- jwtAuth: []
tags:
- name: Device Status
paths:
  /v1/device-status/history:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DeviceStatusHistoryPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeviceStatusHistoryPostResponse'
      tags:
      - Device Status
  /v1/device-status:
    post:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DeviceStatusPostRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeviceStatusPostResponse'
      tags:
      - Device Status
components:
  schemas:
    v1DeviceStatusPostResponse:
      type: object
      properties:
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/pokedexDeviceMappingInfo'
      additionalProperties: false
    v1DeviceStatusHistoryPostRequest:
      type: object
      properties:
        deviceIds:
          type: array
          items:
            type: integer
            format: int64
            example: 12345678910
            minimum: 0
        role:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    v1DeviceStatusPostRequest:
      type: object
      properties:
        deviceIds:
          type: array
          items:
            type: integer
            format: int64
            example: 12345678910
            minimum: 0
        role:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    pokedexDeviceHistoryInfo:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        enterpriseId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        event:
          type: string
          example: ENUM_VALUE
        eventTime:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        ipaddress:
          type: string
          example: example string
        ttIdentity:
          type: string
          example: example string
      additionalProperties: false
    googleProtobufTimestamp:
      type: object
      properties:
        nanos:
          type: integer
          format: int32
          example: 123
        seconds:
          type: integer
          format: int64
          example: 1234567891011
      additionalProperties: false
    pokedexDeviceMappingInfo:
      type: object
      properties:
        connectTime:
          $ref: '#/components/schemas/googleProtobufTimestamp'
        deviceId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        enterpriseId:
          type: integer
          format: int64
          example: 12345678910
          minimum: 0
        hostname:
          type: string
          example: example string
        ipaddress:
          type: string
          example: example string
        ttIdentity:
          type: string
          example: example string
      additionalProperties: false
    v1DeviceStatusHistoryPostResponse:
      type: object
      properties:
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/pokedexDeviceHistoryInfo'
      additionalProperties: false
  securitySchemes:
    jwtAuth:
      type: apiKey
      in: header
      name: authorization
      description: Use `Bearer <token>`
