openapi: 3.2.0
info:
  title: Graphiant Devices Summary API
  version: 1.0.0
  description: Graphiant API documentation.
servers:
- url: https://api.graphiant.com
security:
- jwtAuth: []
tags:
- name: Devices Summary
paths:
  /v1/devices-summary:
    get:
      security:
      - jwtAuth: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: 'Bearer token. Format: Bearer <your_token_here>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DevicesSummaryGetResponse'
      description: Get devices summary for the specified enterprise
      tags:
      - Devices Summary
components:
  schemas:
    v1DevicesSummaryGetResponseSiteSummary:
      type: object
      properties:
        devices:
          type: array
          items:
            $ref: '#/components/schemas/v1DevicesSummaryGetResponseSiteSummaryDeviceSummary'
        siteId:
          type: integer
          format: int64
          example: 1234567891011
        siteName:
          type: string
          example: example string
      additionalProperties: false
    v1DevicesSummaryGetResponse:
      type: object
      properties:
        sites:
          type: array
          items:
            $ref: '#/components/schemas/v1DevicesSummaryGetResponseSiteSummary'
      additionalProperties: false
    v1DevicesSummaryGetResponseSiteSummaryDeviceSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234567891011
        isVirtual:
          type: boolean
          example: true
        name:
          type: string
          example: example string
        overrideRegion:
          $ref: '#/components/schemas/manaV2Region'
        platformName:
          type: string
          example: example string
        region:
          $ref: '#/components/schemas/manaV2Region'
        role:
          type: string
          example: ENUM_VALUE
        status:
          type: string
          example: ENUM_VALUE
      additionalProperties: false
    manaV2RegionCoordinates:
      type: object
      properties:
        latitude:
          type: number
          format: double
          example: 123.45
        longitude:
          type: number
          format: double
          example: 123.45
      additionalProperties: false
    manaV2Region:
      type: object
      properties:
        coordinates:
          $ref: '#/components/schemas/manaV2RegionCoordinates'
        id:
          type: integer
          format: int32
          example: 123
        name:
          type: string
          example: example string
        regionIsoCode:
          type: string
          example: example string
        unavailable:
          type: boolean
          example: true
      additionalProperties: false
  securitySchemes:
    jwtAuth:
      type: apiKey
      in: header
      name: authorization
      description: Use `Bearer <token>`
